<div class="container">
  <page-header title="Queries"></page-header>

  <div class="empty-state bg-white tiled">
    <div class="empty-state__summary">
      <h4>Queries</h4>
      <p>Getting the data out of your database</p>
    </div>
    <div class="empty-state__steps">
      <h4>Let's get started</h4>
      <ol>
        <li><del><a href="/data_sources">Connect</a> a Data Source</del></li>
        <li><a href="/queries/new/">Create</a> your first Query</li>
      </ol>
      <p>Need more support? <a href="http://help.redash.io/category/21-querying" target="_blank">See our Help <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
    </div>
  </div>

  <tab-nav tabs="$ctrl.tabs"></tab-nav>

  <div class="bg-white tiled">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Runtime</th>
        <th>Last Executed At</th>
        <th>Update Schedule</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="query in $ctrl.paginator.getPageRows()">
        <td><a href="queries/{{query.id}}">{{query.name}}</a> <span class="label label-default" ng-if="query.is_draft">Unpublished</span></td>
        <td>
          <img ng-src="{{query.user.profile_image_url}}" class="profile__image_thumb"/>
          {{query.user.name}}
        </td>
        <td>{{query.created_at | dateTime}}</td>
        <td>{{query.runtime | durationHumanize}}</td>
        <td>{{query.retrieved_at | dateTime}}</td>
        <td>{{query.schedule | scheduleHumanize}}</td>
      </tr>
      </tbody>
    </table>
    <paginator paginator="$ctrl.paginator"></paginator>
  </div>
</div>
