.query-ai-alerts-dialog-wrapper {
  .ai-alerts-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .ant-btn {
      text-align: left;
      height: auto;

      span {
        white-space: normal;
        /* allow wrapping */
        overflow-wrap: break-word;
        word-break: break-word;
      }

      i {
        color: #52c41a;
        margin-right: 0.5rem;
      }

      small {
        display: block;
        color: #888;
      }
    }
  }
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}
