<div class="empty-state bg-white tiled">
<div class="empty-state__summary">
    <h4 ng-if="$ctrl.title">{{$ctrl.title}}</h4>
    <h2 ng-if="$ctrl.icon"><i ng-class="$ctrl.icon" aria-hidden="true"></i></h2>
    <p>{{$ctrl.description}}</p>
</div>
<div class="empty-state__steps">
    <h4>Let's get started</h4>
    <ol>
    <li><del><a href="/data_sources">Connect</a> a Data Source</del></li>
    <li><del><a href="/queries/new/">Create</a> your first Query</del></li>
    <li ng-if="$ctrl.showAlertStep"><a href="/alerts/new/">Create</a> your first Alert</li>
    <li ng-if="$ctrl.showDashboardStep"><a href="/alerts/new/">Create</a> your first Dashboard</li>
    <li ng-if="$ctrl.showInviteStep"><a href="/alerts/new/">Invite</a> your team members</li>
    </ol>
    <p>Need more support? <a href="{{$ctrl.helpLink}}" target="_blank">See our Help <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
</div>
</div>
