<div class="container">
    <ol class="breadcrumb">
        <li><a href="/schemas">Schema Explorer</a></li>
        <li><a href="/schemas/{{table.datasource.id}}">{{table.datasource.name}}</a></li>
        <li class="active">{{table.name}}</li>
    </ol>
    <div class="row">
        <h2>Table: {{table.name}}</h2>
        <p>
            <em>
                <edit-in-place editable="true"
                               done="saveTableDescription"
                               editor="textarea"
                               placeholder="No description"
                               ignore-blanks='false'
                               value="table.description"
                               markdown="true">
                 </edit-in-place>
            </em>
        </p>
        <div class="col-md-12">
            <smart-table rows="table.columns" columns="gridColumns"
                         config="gridConfig"
                         class="table table-condensed table-hover"></smart-table>
        </div>
    </div>
    <div class="row">
        <h2>Joins</h2>
        <div class="col-md-8">
            <smart-table rows="table.joins" columns="joinGridColumns"
                         config="gridConfig"
                         class="table table-condensed table-hover"></smart-table>
        </div>
        <div class="col-md-4">
            <h4>Add a Join</h4>
            <form name="joinForm" ng-submit="saveChanges()" class="form">
            <!-- Not passing data to $scope.join.column 
                <div class="form-group">
                    <label>Column</label>
                    <ui-select ng-model="join.column">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="c in table.columns">
                            <span ng-bind="c.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            -->
                <div class="form-group">
                    <label>Column</label>
                    <input type="string" placeholder="column" class="form-control" ng-model="join.column">
                </div>
                <div class="form-group">
                    <label>Related Table</label>
                    <input type="string" placeholder="related_table" class="form-control" ng-model="join.related_table">
                </div>
                <div class="form-group">
                    <label>Related Column</label>
                    <input type="string" placeholder="related_column" class="form-control" ng-model="join.related_column">
                </div>
                <div class="form-group">
                    <label>Relationship</label>
                    <input type="string" placeholder="relationship" class="form-control" ng-model="join.cardinality">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
