.venv
venv/
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.coverage
coverage.xml
client/dist
.DS_Store
celerybeat-schedule*
.#*
\#*#
*~
_build
.vscode
.env

dump.rdb

node_modules
.tmp
.sass-cache
npm-debug.log

migrations/versions/ac2b14227d94_.py
