advocate==1.0.0
aniso8601==9.0.1
# Uncomment the requirement for ldap3 if using ldap.
# It is not included by default because of the GPL license conflict.
# ldap3==2.2.4
Authlib==1.2.0
blinker==1.5
click==8.1.3
cryptography==40.0.1
disposable-email-domains>=0.0.52
email_validator==1.3.1
Flask==2.2.3
Flask-Limiter==3.3.0
Flask-Login==0.6.2
flask-mail==0.9.1
Flask-Migrate==4.0.4
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.3
flask-talisman==1.0.0
Flask-WTF==1.1.1
funcy==1.18
gevent==22.10.2
git+https://github.com/paradoxxxzero/sqlalchemy-searchable@master # temporarly use github fork to support SQLAlchemy 2.0
greenlet==2.0.2
gunicorn==20.1.0
httplib2==0.22.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.2
maxminddb-geolite2==2018.703
parsedatetime==2.6
passlib==1.7.4
psycopg2==2.9.5
pycrypto==2.6.1
PyJWT==2.6.0
pyOpenSSL==23.1.0
pyparsing==3.0.9
pypd==1.1.0
pysaml2==7.4.1
pystache==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz>=2019.3
PyYAML==6.0
redis==4.5.3
requests==2.28.2
RestrictedPython==6.0
rq==1.13.0
rq-scheduler==0.13.0
semver==2.13.0
sentry-sdk==1.17.0
simplejson==3.18.4
SQLAlchemy==2.0.7
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
sshtunnel==0.4.0
statsd==4.0.1
supervisor==4.2.5
supervisor_checks==0.8.1
ua-parser==0.16.1
user-agents==2.2.0
werkzeug==2.2.3
wtforms==3.0.1
xlsxwriter==3.0.9
