google-api-python-client==1.2
gspread==0.2.5
impyla==0.10.0
influxdb==2.7.1
MySQL-python==1.2.5
oauth2client==1.2
pyhive==0.1.5
pymongo==3.2.1
pyOpenSSL==0.14
vertica-python==0.5.1
td-client==0.4.1
pymssql==2.1.1
dql==0.5.16
dynamo3==0.4.7
botocore==1.4.4
