google-api-python-client==1.2
gspread==0.2.5
impyla==0.10.0
influxdb==2.7.1
MySQL-python==1.2.5
oauth2client==1.2
pyhive==0.1.5
pymongo==2.7.2
pyOpenSSL==0.14
vertica-python==0.5.1
td-client==0.3.2
pymssql==2.1.1
