<!DOCTYPE html>
<html class="no-js">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="{{ asset_url('server.css') }}">

  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
</head>
<body class="d-flex flex-column justify-content-center align-items-center">

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="header">
    <div class="text-center">
      <a href="/"><img src="/static/images/redash_icon_small.png"></a>
    </div>
    <h3 class="text-center m-b-default">{{ self.title() }}</h3>
  </div>
  {% block content %}{% endblock %}
</div>

<script src="/static/js/jquery.min.js"></script>

{% block scripts %}{% endblock %}

{% include '_includes/signed_out_tail.html' %}

</body>
</html>
