<div class="modal-header">
  <button type="button" class="close" ng-disabled="$ctrl.saveInProgress" aria-hidden="true"
    ng-click="$ctrl.dismiss()">&times;</button>
  <h4 class="modal-title">Add Textbox</h4>
</div>
<div class="modal-body">
  <div class="form-group m-b-0">
    <textarea class="form-control resize-vertical" style="min-height: 100px"
      ng-model="$ctrl.text" ng-model-options="{ debounce: 200 }" rows="5" autofocus></textarea>
  </div>
  <div ng-show="$ctrl.text" class="m-t-15">
    <strong>Preview:</strong>
    <p ng-bind-html="$ctrl.text | markdown" class="word-wrap-break"></p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-disabled="$ctrl.saveInProgress"
    ng-click="$ctrl.dismiss()">Close</button>
  <button type="button" class="btn btn-primary" ng-disabled="$ctrl.saveInProgress"
    ng-click="$ctrl.saveWidget()">Add to Dashboard</button>
</div>
