<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit TextBox</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <textarea class="form-control" style="resize: vertical" ng-model="$ctrl.widget.new_text" rows="3"></textarea>
  </div>
  <div ng-show="$ctrl.widget.new_text">
    <strong>Preview:</strong>
    <p ng-bind-html="$ctrl.widget.new_text | markdown"></p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-disabled="$ctrl.saveInProgress" ng-click="$ctrl.close()">Close</button>
  <button type="button" class="btn btn-primary" ng-disabled="$ctrl.saveInProgress" ng-click="$ctrl.saveWidget()">Save</button>
</div>
