<div data-test="EditDashboardDialog">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()" ng-disabled="$ctrl.saveInProgress" aria-hidden="true">&times;</button>
    <h4 class="modal-title">New Dashboard</h4>
  </div>
  <div class="modal-body" ng-if="$ctrl.policy.isCreateDashboardEnabled()">
    <p>
      <input type="text" class="form-control" placeholder="Dashboard Name" ng-model="$ctrl.dashboard.name" autofocus ng-keyup="$event.keyCode === 13 && $ctrl.saveDashboard()">
    </p>
  </div>
  <div class="modal-footer" ng-if="$ctrl.policy.isCreateDashboardEnabled()">
    <button type="button" class="btn btn-default" ng-disabled="$ctrl.saveInProgress" ng-click="$ctrl.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" ng-disabled="$ctrl.saveInProgress || !$ctrl.isFormValid()" ng-click="$ctrl.saveDashboard()" data-test="DashboardSaveButton">Save</button>
  </div>

  <div class="modal-body" ng-if="!$ctrl.policy.isCreateDashboardEnabled()">
    <edit-dashboard-dialog-disabled></edit-dashboard-dialog-disabled>
  </div>
</div>