<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="$ctrl.dismiss()">&times;</button>
  <div class="visualization-title">
    <query-link query="$ctrl.widget.getQuery()" visualization="$ctrl.widget.visualization" readonly="true"></query-link>
  </div>
</div>
<div class="modal-body">
  <visualization-renderer visualization="$ctrl.widget.visualization" query-result="$ctrl.widget.getQueryResult()" class="t-body" context="'widget'"></visualization-renderer>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Close</button>
</div>
