.table-editor-container {
  .table-editor-query-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;

    > div {
      min-width: 200px;
      width: 200px;
      padding: 0 10px;
      border-right: 1px solid #f0f0f0;
      cursor: move;

      &:last-child {
        border-right: none;
      }
    }

    .table-editor-column-header {
      background: rgba(102, 136, 153, 0.05);
      padding: 10px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 15px;
      border-bottom: 1px solid #f0f0f0;
    }

    .table-column-editor-align-content {
      display: flex;
      align-items: stretch;
      justify-content: stretch;

      .ant-radio-button-wrapper {
        flex-grow: 1;
        text-align: center;
        height: 28px;
        line-height: 26px;
      }
    }
  }
}
