<settings-screen>
  <email-settings-warning function="'invite emails'"></email-settings-warning>

  <h3 class="p-l-5">{{user.name}}</h3>

  <ul class="tab-nav">
    <rd-tab tab-id="profile" name="Profile" ng-click="selectTab('profile')"></rd-tab>
    <rd-tab tab-id="apiKey" name="API Key" ng-click="selectTab('apiKey')" ng-if="user.api_key"></rd-tab>
    <rd-tab tab-id="settings" name="Settings" ng-click="selectTab('settings')" ng-if="showSettings"></rd-tab>
    <rd-tab tab-id="password" name="Password" ng-click="selectTab('password')" ng-if="showPasswordSettings"></rd-tab>
  </ul>

  <div ng-show="selectedTab == 'profile'" class="p-10">
    <p>
      <img ng-src="{{user.gravatar_url}}"/>
    </p>

    <p>
      <strong>{{user.name}}</strong>
    </p>

    <p>
      {{user.email}}
    </p>
    <div ng-if="currentUser.isAdmin">
      <hr/>
      <div class="form-group">
        <button class="btn btn-default" ng-click="sendPasswordReset()" ng-disabled="disablePasswordResetButton">Send
          Password Reset Email
        </button>
      </div>

      <div ng-if="passwordResetLink" class="alert alert-success">
        <p ng-if="!clientConfig.mailSettingMissing">
          <strong>The user should receive a link to reset his password by email soon.</strong>
        </p>
        <p ng-if="clientConfig.mailSettingsMissing">
          You don't have mail server configured, please send the following link
          to {{user.name}} to reset their password:<br/>
          <a ng-href="passwordResetLink">{{passwordResetLink}}</a>
        </p>
      </div>
    </div>
  </div>
  <div ng-show="selectedTab == 'apiKey'" class="p-10">
    API Key:
    <input type="text" value="{{user.api_key}}" size="44" readonly/>
  </div>
  <div ng-show="selectedTab == 'settings'" class="p-10">
    <div class="col-md-6">
      <form class="form" name="userSettingsForm" ng-submit="updateUser(userSettingsForm)" novalidate>
        <div class="form-group required" show-errors>
          <label class="control-label">Name</label>
          <input name="name" type="text" class="form-control" ng-model="user.name" required/>
          <input-errors errors="userSettingsForm.name.$error"/>
        </div>
        <div class="form-group required" show-errors>
          <label class="control-label">Email</label>
          <input name="email" type="email" class="form-control" ng-model="user.email" required/>
          <input-errors errors="userSettingsForm.email.$error"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div ng-show="selectedTab == 'password'" class="p-10">
    <div class="col-md-6">
      <form class="form" name="userPasswordForm" ng-submit="savePassword(userPasswordForm)" novalidate>
        <div class="form-group required" show-errors>
          <label class="control-label">Current Password</label>
          <input name="currentPassword" class="form-control" type="password" ng-model="password.current" required/>
          <input-errors name="Password" errors="userPasswordForm.currentPassword.$error"/>
        </div>
        <div class="form-group required" show-errors>
          <label class="control-label">New Password</label>
          <input name="newPassword" class="form-control" type="password" ng-model="password.new" ng-minlength="6"
                 required/>
          <input-errors name="Password" errors="userPasswordForm.newPassword.$error"/>
        </div>
        <div class="form-group required" show-errors>
          <label class="control-label">Repeat New Password</label>
          <input name="passwordRepeat" class="form-control" type="password" ng-model="password.newRepeat"
                 compare-to="password.new"/>
          <span class="help-block error"
                ng-if="userPasswordForm.passwordRepeat.$error.compareTo">Passwords don't match.</span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</settings-screen>
