<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Refresh Schedule</h4>
</div>
<div class="modal-body">
    <div class='row'>
        <div class="col-lg-4">
            <label>
                <input type="radio" value="" ng-model="$ctrl.refreshType">
                No Refresh
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="radio" value="basic" ng-model="$ctrl.refreshType">
                Simple Refresh
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="radio" value="advanced" ng-model="$ctrl.refreshType">
                Advanced Refresh
            </label>
        </div>
    </div>
    <div class='row m-t-20 m-l-0'>
        <advanced-refresh 
            refresh-type="$ctrl.refreshType" 
            schedule="$ctrl.schedule" 
            ng-if="$ctrl.refreshType === 'advanced'" 
            modal="$ctrl"
            callback="$ctrl.callback">
        </advanced-refresh>
        <basic-refresh 
            refresh-type="$ctrl.refreshType" 
            ng-if="$ctrl.refreshType === 'basic'"
            schedule="$ctrl.schedule"
            modal="$ctrl"
            callback="$ctrl.callback">
        </basic-refresh>
        <div ng-if="!$ctrl.refreshType">
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="$ctrl.close()">Cancel</button>
                <button class="btn btn-primary" ng-click="$ctrl.resetRefresh();$ctrl.close();">Save</button>
            </div>
        </div>
    </div>
</div>
