// Editor
edit-in-place p {
  display: inline-block;
}

edit-in-place p.editable:hover {
  background: #FCFCA2;
  display: inline-block;
}

.editor__control {
  padding: 0 0 10px 0;

  button {
    margin-right: 7px;
  }

  .dropdown-toggle {
    margin-right: 0;
  }

  button.btn-primary {
    margin-right: 0;
    margin-left: 7px;
  }
}

.source-control {
  position: relative;
  min-height: 105px;
}

.btn--showhide {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.ace_editor.ace_autocomplete .ace_completion-highlight {
  text-shadow: none !important;
  background: #ffff005e;
  font-weight: 600;
}

.editor__control {
  .form-control {
    height: 30px;
  }
}

.schema-container {
  background: transparent;
  height: calc(100% - 15px);
}

.editor__left {
  height: 100% !important;

  .form-control {
    height: 30px;
  }
}

.schema-browser {
  height: calc(83%);
}

.query-alerts {
  .alert {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.paginator-container {
  text-align: center;
}

.tile {
  .paginator-container {
    text-align: center;
    margin-top: 10px;
  }
}

.embed__vis {

}

.query__vis {
  padding-top: 15px;

  table {
    border: 1px solid #f0f0f0;
    width: auto;
  }

  .paginator-container {
    text-align: left;
    margin-top: 10px;

    li:first-of-type {
      margin-left: 0;
    }
  }
}

.visualization-renderer .pagination {
  margin-top: 10px;
}

.embed__vis {
  display: flex;
  flex-flow: column;
}

.widget-wrapper {
  .body-container {
    filters {
      padding-left: 15px;
    }
  }
}
