.public-dashboard-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .page-header-wrapper {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  > .container {
    min-height: 0;
    flex: 1 0 auto;
  }

  .loading-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer {
    min-height: 95px;
    padding: 14px 0 18px;
    text-align: center;
    flex: 0 0 auto;
  }
}
