<div class="container p-t-10 p-b-20">
  <page-header title="{{$ctrl.dashboard.name}}">
  </page-header>

  <div class="m-b-5">
    <filters ng-if="$ctrl.dashboard.dashboard_filters_enabled"></filters>
  </div>

  <div style="padding-bottom: 5px" ng-if="$ctrl.dashboard.widgets.length > 0">
    <div gridstack editing="false" class="dashboard-wrapper preview-mode">
      <div class="dashboard-widget-wrapper"
        ng-repeat="widget in $ctrl.dashboard.widgets"
        gridstack-item="widget.options.position" gridstack-item-id="{{ widget.id }}">
        <div class="grid-stack-item-content">
          <dashboard-widget widget="widget" dashboard="$ctrl.dashboard" public="true"></dashboard-widget>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="text-center">
    <a href="https://redash.io"><img ng-src="{{$ctrl.logoUrl}}" width="38"/></a>
  </div>
  Powered by <a href="http://redash.io/?ref=public-dashboard">Redash</a>
</div>
