<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title"><i class="fa fa-share-alt"></i> Share</h4>
</div>
<div class="modal-body">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$ctrl.dashboard.publicAccessEnabled" ng-click="$ctrl.toggleSharing()" ng-disabled="!$ctrl.dashboard.canEdit()">
      Allow public access (using a secret URL).
    </label>
  </div>

  <div ng-if="$ctrl.dashboard.publicAccessEnabled">
    <input type="text" class="form-control" value="{{$ctrl.dashboard.public_url}}">
  </div>
</div>
