<!-- footer  -->
<div class="container-fluid container-footer{% if page.sticky_footer %} container-footer-sticky {% endif %}">
    <div class="container">
        <div class="row">
          <a href="/terms.html">Terms of Service<a>
          ·
          <a href="/privacy.html">Privacy Policy<a>
        </div>
        <div style="padding-top: 30px;">

          <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

        </div>
    </div>
</div>
<!-- /footer -->
