<nav class="navbar navbar-default navbar-trans navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-header-links" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="static/img/logo_white.png" style="height:60px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-header-links">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://docs.redash.io/">Docs</a></li>
                <li><a href="https://demo.redash.io/">Demo</a></li>
                <li><a href="https://gitter.im/EverythingMe/redash">Chat</a></li>
                <li><a href="/#get-started">Get Started</a></li>
            </ul>
        </div>
    </div>
</nav>
