<div class="container text-center">
    <div class="row">
        <h3>Newsletter</h3>
        <p>Subscribe to get product updates about Re:dash, including notifications when new releases are available.</p>

        <div id="mc_embed_signup" class="col-md-6 col-md-offset-3">
            <form id="mc-embedded-subscribe-form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" value="" placeholder="Email Address" name="EMAIL" class="form-control required email" id="mc-email">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_a905176d2294593084d5264e5_53ca028761" tabindex="-1" value=""></div>
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit" name="subscribe" style="min-width:89px;">Subscribe</button>
                        </span>
                    </div>
                    <div>
                      <label for="mc-email" class="control-label"></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
