<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <base href="{{base_href}}" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="<%= htmlWebpackPlugin.options.staticPath %>unsupportedRedirect.js" async></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
    <style>
        #css-logo {
            display: flex;
            height: 98vh;
            align-items: center;
            justify-content: center;
        }
    </style>
  </head>

  <body>
    <section>
      <div id="application-root"></div>
      <div class="loading-indicator">
        <div id="css-logo">
          <img src="<%= htmlWebpackPlugin.options.logoUrl %>" />
        </div>
        <div id="shadow"></div>
      </div>
    </section>
  </body>
</html>
