body {
  padding-top: 20px;
}

.post-header {
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.sidebar .version {
  text-align: center;
  font-size: 80%;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

footer .built {
  font-size: 80%;
}

code {
  padding: 0px 3px;
}

a[name] {
  color: #000;
  text-decoration: none;
}

.authors {
  font-size: 75%;
}

.production td {
  padding: 10px;
}

ul ol, ol ul, ol ol, ul ul {
    margin-bottom: 1em;
}

.client-libraries {
    font-size: 80%;
}
