html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
}
body {
  color:#5E5E5E;

}

.homepage h2 , h3,h4,h5,h6 {
  font-weight:200
}

.homepage h2 {
  font-size: 46px;
}

.content {
  padding-top: 79px; /* fixed header compensation */
}

.logofont {
  font-family: 'Inconsolata', ;
  color:#249FB5
}

.logofontjumbo {
  color:white;
}

.jumbo_frontpage {
  background-color:#668899;
  color:white;
  padding: 0;
  padding-bottom: 30px;
  box-shadow: 0 0 15px 0px #668899;
}

.slick-slider {
    margin-bottom: 0px !important;
}

.screenshots {
    max-height:520px;
    max-width: 730px;
    margin: auto;
}

.screenshots img{
    max-height:520px;
    margin: auto;
}

.user-logo img {
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
  width: 100%;
  margin-top: 20px;

  padding-top:20px;
  padding-bottom:20px;
  background-color:#668899;
  color:#FCFFF2;
}

.container-footer a {
  color:#FCFFF2;
}

.container-footer-sticky {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.navbar-brand {
  padding: 0;
  margin-top: 7px;
  margin-left: 0 !important;
}
#main-header-links {
  margin-top: 18px;
  background-color:#668899;
}
.navbar-trans {
  height: 79px;
  padding: 0;
  background-color:#668899;
  border:0px;
  color:#FCFFF2;
}
nav a, .container-footer a {
  color:rgba(255,255,255,0.6) !important;
}
.header-link:hover {
  color:#FCFFF2 !important;
}

.container {
  max-width:960px;
}
.feature_row {
  padding-top:20px;
  padding-bottom:50px;
}
.img-logo {
  max-width:50px;
}
.img-logo:hover {

}
.grey-img {
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
 filter: gray; /* IE6-9 */
 -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.grey-img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.db-logos {
  opacity:0.7;
  /*min-height:135px;*/
  height: 135px;
}

.db-logos:hover {
  opacity:1;
}
.developer-logo {
  border-radius:150px;
  max-width:120px;
  radius:150px;
}

#buttons {
  margin: 20px 0 30px;
}
#buttons a {
  background-color: #fd7968;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.27);
  border: 0;
  margin-right: 6px;
  border-radius: 4px;
}
#buttons a:hover {
  background-color: #ED6D5C;
}
#buttons a:last-child {
  margin-right: 0;
}

/* get started */
#get-started {
  position: relative;
  background: rgb(212, 212, 210);
  border-radius: 3px;
  margin: 40px 0 50px;
  box-shadow: inset 0 0 60px rgba(0,0,0,0.05);
}
#get-started > div {
  text-align: center;
  padding: 10px 100px 60px;
  margin: 10px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}
@media (max-width: 991px) {
  #get-started > div {
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 10px;
    padding-right: 10px;
  }
}
#get-started #opensource {
  border: none;
}
#get-started h2 img {
  height: 70px;
}
#get-started h2 label {
  font-size: 20px;
  background: #70D082;
  padding: 4px 5px 3px;
  border-radius: 3px;
  color: white;
  font-weight: normal;
  position: relative;
  top: 19px;
  left: -6px;
}
#get-started > span {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  margin: -30px 0 0 -30px;
  text-align: center;
  line-height: 58px;
  font-style: italic;
  font-size: 21px;
  color: #77776D;
}

#get-started p {
  margin-bottom: 26px;
  margin-top: 14px;
  color: #696962;
  font-size: 15px;
}
#get-started > div > strong {
  display: block;
  margin-bottom: 10px;
}
#get-started a {
  text-decoration: none !important;
}
#get-started a.btn {
  font-size: 17px;
  background: #70D082;
  padding: 0 12px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  border: 0;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
}
#get-started a.btn-full {
  padding-left: 21px;
  padding-right: 21px;
}
#get-started a.btn:hover {
  background-color: #5ED073;
}
#get-started strong {
  color: #4A8059;
}
#get-started #opensource a.btn,
#get-started #opensource h2 label {
  background-color: #5ACECE;
}
#get-started #opensource a.btn:hover {
  background-color: #1ED0D0;
}
#get-started #opensource strong {
  color: #358282;
}
#get-started input {
  border: 0;
  outline: 0;
  width: 180px;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  font-size: 17px;
}
#signup {
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
  height: 58px;
  margin: 0 auto;
  position: relative;
}
#signup a:not(.btn) {
  color: #A2A29F;
}
#signup a:not(.btn):hover {
  color: #7D7D78;
}

#signup > div {
  transition: transform 0.2s ease;
}
#signup > div > * {
  position: relative;
  z-index: 1;
}
#signup[data-status^="form"] > div {
  transform: translateX(-240px);
}
#signup[data-status^="success"] > div {
  transform: translateX(-480px);
}

#signup #feedback {
  position: absolute;
  top: 20px;
  left: 259px;
  transition: all 0.2s ease;
  z-index: 0;
  color: #A7A6A6;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
  opacity: 0;
}
#signup #feedback[data-show="true"] {
  transform: translateY(20px);
  opacity: 1;
}
#signup #feedback[data-success="true"] {
  color: #3EA051;
}
#signup #feedback[data-success="false"] {
  color: #BF5757;
}
#signup #success {
  display: inline-block;
  white-space: normal;
  color: #3F8E4E;
  vertical-align: top;
}
#signup #success strong {
  font-size: 23px;
  display: inline;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
}

.chrome .toolbar {
    height: 28px;
    max-width: 730px;
    margin: auto;
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #fff, #dadee0);
    background-image: linear-gradient(180deg, #fff 0, #dadee0);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdadee0', GradientType=0);
    border-radius: 5px 5px 0 0;
    position: relative;
    border-bottom: none;
    box-shadow: inset 0 1px 0 rgba(52, 60, 69, .2), inset 1px 0 0 rgba(52, 60, 69, .2), inset -1px 0 0 rgba(52, 60, 69, .2)
}

.toolbar .circle-wrap {
    position: absolute;
    top: 9px;
    left: 15px
}

.toolbar .circle-wrap .circles {
    background: #fdbe30;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 0 18px;
    border: 1px solid #f8ac02
}

.toolbar .circle-wrap .circles:before {
    content: "";
    background: #fc5959;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: 0;
    border: 1px solid #fb3131;
    margin-top: -1px
}

.toolbar .circle-wrap .circles:after {
    content: "";
    background: #36cf40;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: 36px;
    border: 1px solid #2dbe37;
    margin-top: -1px
}

.features {
    margin-top: 20px;
}

/* Pricing Table */
.price_table_container{
	text-align:center;
	color:#666;
	margin-top:35px;
}

.price_table_heading{
	font-size:36px;
	padding:10px;
	background:#EEE;
}

.price_table_row {
    padding:15px;
	background: #FFF;
}

.cost{
	padding:30px;
	font-size:30px;
}

.cost span{
	font-size:15px;
}

.price_table_row:nth-of-type(even) {
  background: #F8F8F8;
}
.btn{
	border-radius:0px;
}

.recommended{
  /*USER DEFINED COLOUR*/
  background:#FF3A3A;
  color:#FFF;
  /*USER DEFINED COLOUR*/
  padding:3px 0 3px 0;
  margin-top:10px;
  text-align:center;
  margin-bottom:-35px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

    vertical-align: text-top;
}

/* Default BS breakpoints */
@media (min-width: 768px) {
  .col-centered-sm {
    display: inline-block
  }
}

@media (min-width: 992px) {
  .col-centered-md {
    display: inline-block
  }
}

@media (min-width: 1200px) {
  .col-centered-lg {
    display: inline-block
  }
}
