<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{parameter.name}}</h4>
</div>
<div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="parameter.title">
      </div>
      <div class="form-group">
        <label>Type</label>
        <select ng-model="parameter.type" class="form-control">
          <option value="text">Text</option>
          <option value="number">Number</option>
          <option value="date">Date</option>
          <option value="datetime-local">Date and Time</option>
          <option value="datetime-with-seconds">Date and Time (with seconds)</option>
        </select>
      </div>
    </div>
</div>
