body {
    padding-top: 70px;
}

a.link {
    cursor: pointer;
}

a.page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

a.navbar-brand {
    padding: 5px 5px 0px 0px;
    margin-left: 0px !important;
}

a.navbar-brand img {
    height: 40px;
}

.graph {
    height: 300px;
}

.avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}
.avatar img {
    width: 40px;
    height: 40px;
}

#logout {
    color: white;
    position: relative;
    left: -9px;
    bottom: -11px;
}

.details-toggle {
    cursor: pointer;
}
.details-toggle::before {
    content: '▸';
    margin-right: 5px;
}
.details-toggle.open::before {
    content: '▾';
    margin-right: 5px;
}

.edit-in-place span {
    white-space: pre-line;
}
.edit-in-place span.editable {
    cursor: pointer;
}

.edit-in-place span.editable:hover {
    background: #FCFCA2;
}

.edit-in-place input,
.edit-in-place textarea {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input,
.edit-in-place.active textarea {
    display: inline-block;
}

.delete-button {
    float: none !important;
}

.list-group-item.active button {
    color: white;
}

.panel-heading > p:last-child {
    margin-bottom: 0px;
}

.panel-heading > a,
.panel-heading .query-link {
    color: inherit;
}

.panel-heading .query-link:hover {
    text-decoration: underline;
}

.list-group-item.clickable {
    cursor: pointer;
}

.list-group-item.clickable:focus,
.list-group-item.clickable:hover {
    background-color: #f5f5f5;
}

/* angular-growl */
.growl {
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    width: 250px;
    z-index: 10000;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity:0;
}
.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity:1;

}

/* Gridster */

.gridster ul {
    list-style-type: none;
}

li.widget {
    /*background-color:grey;*/
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    opacity: 0.7;
}

li.widget:hover {
    opacity: 1.0 !important;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(0,0,0,0.5) !important;
}

/* CodeMirror */
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    min-height: 300px;
    margin-bottom: 10px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

/* Because of ng-repeat we add span between the .dropdown-menu element and the li element, so we had
to add those CSS styles here. */

.dropdown-menu > span > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > span > li > a:hover,
.dropdown-menu > span > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

/* Dropdown submenus */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    /*border-left-color: #ffffff;*/
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.rd-tab .remove {
    cursor: pointer;
    color: #A09797;
    padding: 0 3px 1px 4px;
    font-size: 11px;
}
.rd-tab .remove:hover {
    color: white;
    background-color: #FF8080;
    border-radius: 50%;
}
.nav-tabs > li.rd-tab-btn {
    float: right;
}

/* light version of bootstrap's form-control */
.rd-form-control {
    display: block;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.rd-form-control {
     width: 100%;
}
pivot-table-renderer > table, grid-renderer > div, visualization-renderer > div {
    overflow: auto;
}
counter-renderer {
    display: block;
    text-align: center;
}
counter-renderer counter {
    margin: 0 auto;
    background: #f9f9f9;
    padding: 15px 50px;
    display: block;;
}
counter-renderer value,
counter-renderer counter-target {
    font-size: 80px;
    display: block;
}
counter-renderer counter-target {
    color: #ccc;
}
counter-renderer counter.positive value {
    color: #5cb85c;
}
counter-renderer counter.negative value {
    color: #d9534f;
    margin-right: 15px;
}
counter-renderer counter-name {
    font-size: 40px;
    display: block;
}

.rd-widget-textbox p {
    margin-bottom: 0;
}

.iframe-container {
    height: 100%;
}

.schema-container {
    height: 300px;
}

.schema-browser {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.table-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.blankslate {
    text-align: center;
    padding: 30px;
}

/*
bootstrap's hidden-xs class adds display:block when not hidden
use this class when you need to keep the original display value
*/
@media (max-width: 767px) {
    .rd-hidden-xs {
        display: none !important;
    }
}

.log-container {
    margin-bottom: 50px;
}
