body {
    padding-top: 70px;
}

a.page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

a.navbar-brand {
    font-style: italic;
}

.graph {
    height: 300px;
}

.avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place span:hover {
    background: yellow;
}

.edit-in-place input,
.edit-in-place textarea {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input,
.edit-in-place.active textarea {
    display: inline-block;
}

.delete-button {
    float: none !important;
}

.list-group-item.active button {
    color: white;
}

/* angular-growl */
.growl {
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    width: 250px;
    z-index: 10000;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity:0;
}
.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity:1;

}

/* Gridster */

.gridster ul {
    list-style-type: none;
}

li.widget {
    /*background-color:grey;*/
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    opacity: 0.7;
}

li.widget:hover {
    opacity: 1.0 !important;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(0,0,0,0.5) !important;
}

/* CodeMirror */
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    min-height: 300px;
    margin-bottom: 10px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

/* Because of ng-repeat we add span between the .dropdown-menu element and the li element, so we had
to add those CSS styles here. */

.dropdown-menu > span > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > span > li > a:hover,
.dropdown-menu > span > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

/* Dropdown submenus */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    /*border-left-color: #ffffff;*/
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}