<div class="container">
  <div ng-if="$ctrl.messages.includes('using-deprecated-embed-feature')" class="alert alert-warning">
      You have enabled <code>ALLOW_PARAMETERS_IN_EMBEDS</code>. This setting is now deprecated and should be turned off. Parameters in embeds are supported by default. <a href="https://discuss.redash.io/t/support-for-parameters-in-embedded-visualizations/3337" target="_blank">Read more</a>.
  </div>
  <div ng-if="$ctrl.messages.includes('email-not-verified')" class="alert alert-warning">
      We have sent an email with a confirmation link to your email address. Please follow the link to verify your email address. <a ng-click="$ctrl.verifyEmail()">Resend email</a>.
  </div>
  <empty-state
    title="'Welcome to Redash 👋'"
    description="'Connect to any data source, easily visualize and share your data'"
    illustration="'dashboard'"
    help-link="'https://redash.io/help/user-guide/getting-started'"
    show-dashboard-step="true"
    show-invite-step="true"
    onboarding-mode="true"
  ></empty-state>

  <home-extra></home-extra>

  <div class="tile">
    <div class="t-body tb-padding">
      <div class="row">
        <div class="col-sm-6">
          <p class="f-500 m-b-20 c-black">Favorite Dashboards</p>

          <p ng-if="$ctrl.noDashboards">
            <span class="btn-favourite">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            Favorite <a href="dashboards">Dashboards</a> will appear here
          </p>

          <div class="list-group">
            <a ng-href="dashboard/{{dashboard.slug}}" class="list-group-item" ng-repeat="dashboard in $ctrl.favoriteDashboards"
              ng-if="dashboard.is_favorite">
              <span class="btn-favourite">
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              {{dashboard.name}}
              <span class="label label-default" ng-if="dashboard.is_draft">Unpublished</span>
            </a>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="f-500 m-b-20 c-black">Favorite Queries</p>
          <p ng-if="$ctrl.noQueries">
            <span class="btn-favourite">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            Favorite <a href="queries">Queries</a> will appear here
          </p>
          <div class="list-group">
            <a ng-href="queries/{{query.id}}" class="list-group-item" ng-repeat="query in $ctrl.favoriteQueries" ng-if="query.is_favorite">
              <span class="btn-favourite">
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              {{query.name}}
              <span class="label label-default" ng-if="query.is_draft">Unpublished</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
