<div class="container">

  <div class="empty-state bg-white tiled">
    <div class="empty-state__summary">
      <h4>Welcome to Redash</h4>
      <p>Connect to any data source, easily visualize and share your data</p>
    </div>
    <div class="empty-state__steps">
      <h4>Let's get started</h4>
      <ol>
        <li><del><a href="/data_sources">Connect</a> a Data Source</del></li>
        <li><a href="/queries/new">Create</a> your first Query</li>
        <li><a href="">Create</a> your first Dashboard</li>
        <li><a href="/users/new">Invite</a> your team members</li>
      </ol>
      <p>Need more support? <a href="http://help.redash.io/article/32-getting-started" target="_blank">See our Help <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
    </div>
  </div>

  <div class="tile">
    <div class="t-body tb-padding">
      <div class="row">
        <div class="col-md-6">
          <p class="f-500 m-b-20 c-black">Recent Dashboards</p>
          <div class="list-group">
            <a ng-href="dashboard/{{dashboard.slug}}" class="list-group-item" ng-repeat="dashboard in $ctrl.recentDashboards">
                {{dashboard.name}} <span class="label label-default" ng-if="dashboard.is_draft">Unpublished</span>
              </a>
          </div>
        </div>

        <div class="col-md-6">
          <p class="f-500 m-b-20 c-black">Recent Queries</p>
          <div class="list-group">
            <a ng-href="queries/{{query.id}}" class="list-group-item" ng-repeat="query in $ctrl.recentQueries">{{query.name}} <span class="label label-default" ng-if="query.is_draft">Unpublished</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
