<nav class="navbar navbar-inverse navbar-fixed-top app-header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{base_href}}"><img ng-src="{{$ctrl.logoUrl}}"/></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"
            ng-show="$ctrl.showDashboardsMenu"
            uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle title="Dashboards">
            <span class="visible-md visible-lg">Dashboards <b class="caret"></b></span>
            <span class="visible-xs visible-sm"><i class="zmdi zmdi-view-dashboard"></i> <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
                    <span ng-repeat="(name, group) in $ctrl.groupedDashboards">
                        <li class="dropdown-submenu">
                          <a href="#" ng-bind="name"></a>
                          <ul class="dropdown-menu">
                            <li ng-repeat="dashboard in group" role="presentation">
                              <a role="menu-item" ng-href="dashboard/{{dashboard.slug}}" ng-bind="dashboard.name"></a>
                            </li>
                          </ul>
                        </li>
                    </span>
            <li ng-repeat="dashboard in $ctrl.otherDashboards">
              <a role="menu-item" ng-href="dashboard/{{dashboard.slug}}" ng-bind="dashboard.name"></a>
            </li>
            <li class="divider"
                ng-show="$ctrl.currentUser.hasPermission('create_dashboard') && ($ctrl.groupedDashboards.length > 0 || $ctrl.otherDashboards.length > 0)"></li>
            <li><a data-toggle="modal" href="#new_dashboard_dialog"
                   ng-show="$ctrl.currentUser.hasPermission('create_dashboard')">New Dashboard</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-show="$ctrl.showQueriesMenu" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle>Queries <b class="caret"></b></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-show="$ctrl.showNewQueryMenu"><a href="queries/new">New Query</a></li>
            <li><a href="queries">Queries</a></li>
          </ul>
        </li>
        <li>
          <a href="alerts">Alerts</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" ng-submit="$ctrl.searchQueries()">
        <div class="form-group">
          <input type="text" ng-model="term" class="form-control" placeholder="Search queries...">
        </div>
        <button type="submit" class="btn btn-default"><span class="zmdi zmdi-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="$ctrl.currentUser.isAdmin">
          <a href="data_sources" title="Data Sources"><i class="fa fa-database"></i></a>
        </li>
        <li ng-show="$ctrl.showSettingsMenu">
          <a href="users" title="Settings"><i class="fa fa-cog"></i></a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle><span ng-bind="$ctrl.currentUser.name"></span> <span
            class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-menu>
            <li style="width:300px">
              <a ng-href="users/{{$ctrl.currentUser.id}}">
                <div class="row">
                  <div class="col-sm-2">
                    <img ng-src="{{$ctrl.currentUser.gravatar_url}}" size="40px" class="img-circle"/>
                  </div>
                  <div class="col-sm-10">
                    <p><strong>{{$ctrl.currentUser.name}}</strong></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider" ng-if="$ctrl.currentUser.hasPermission('super_admin')">
            <li ng-if="$ctrl.currentUser.hasPermission('super_admin')"><a href="admin/status">System Status</a></li>
            <li class="divider">
            </li>
            <li>
              <a href="logout" target="_self">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
