.menu-search input[type="text"] {
    height: 30px;
}

.dropdown-menu__version {
    padding: 5px 10px 8px 17px;
}

.update-available .fa {
    color: #52c41a;
    vertical-align: bottom;
    font-size: 16px !important;
}