<nav class="navbar navbar-default navbar-fixed-top app-header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavOpen = !isNavOpen">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- REDASH LOGO -->
      <a class="navbar-brand" ng-href="{{$ctrl.basePath}}"><img ng-src="{{$ctrl.logoUrl}}"/></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="!isNavOpen">
      <!-- Main Left Nav-->
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-show="$ctrl.showDashboardsMenu" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle title="Dashboards">
            <span class="visible-xs visible-md visible-lg">Dashboards <b class="caret"></b></span>
            <span class="visible-sm"><i class="zmdi zmdi-view-dashboard"></i> <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a href="dashboards">All Dashboards</a></li>
            <li class="divider" ng-if="$ctrl.dashboards | notEmpty"></li>
            <li ng-repeat="dashboard in $ctrl.dashboards">
              <a href="dashboard/{{dashboard.slug}}" ng-bind="dashboard.name"></a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-show="$ctrl.showQueriesMenu" uib-dropdown>
          <a href="queries">Queries</a>
        </li>
        <li ng-if="$ctrl.showAlertsLink">
          <a href="alerts">Alerts</a>
        </li>
      </ul>

      <!-- Add New Button -->
      <div class="btn-group navbar-btn navbar-left btn__new" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          + New <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a ng-show="$ctrl.currentUser.hasPermission('create_dashboard')" ng-click="$ctrl.newDashboard()">New Dashboard</a></li>
          <li role="menuitem" ng-show="$ctrl.showNewQueryMenu"><a href="queries/new">New Query</a></li>
          <li role="menuitem"><a href="alerts/new">New Alert</a></li>
        </ul>
      </div>

      <!-- Profile -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="$ctrl.currentUser.isAdmin">
          <a href="data_sources" title="Data Sources"><i class="fa fa-database"></i></a>
        </li>
        <li ng-show="$ctrl.showSettingsMenu">
          <a href="users" title="Settings"><i class="fa fa-cog"></i></a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown--profile" uib-dropdown-toggle>
            <img ng-src="{{$ctrl.currentUser.gravatar_url}}" class="profile__image--navbar" width="20"/>
            <span ng-bind="$ctrl.currentUser.name"></span> <span
            class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-menu>
            <li style="width:200px">
              <a ng-href="users/{{$ctrl.currentUser.id}}">
                Account Settings
              </a>
            </li>
            <li class="divider" ng-if="$ctrl.currentUser.hasPermission('super_admin')">
              <li ng-if="$ctrl.currentUser.hasPermission('super_admin')"><a href="admin/status">System Status</a></li>
              <li class="divider">
              </li>
              <li>
                <a ng-click="$ctrl.logout()">Log out</a>
              </li>
          </ul>
        </li>
      </ul>

      <!-- Search -->
      <form class="navbar-form navbar-right" role="search" ng-submit="$ctrl.searchQueries()">
        <div class="input-group menu-search">
          <input type="text" ng-model="$ctrl.term" class="form-control" placeholder="Search queries...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="zmdi zmdi-search"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>
