<div class="container">
  <page-header title="Alerts"></page-header>

  <div class="empty-state bg-white tiled">
    <div class="empty-state__summary">
      <p>Get notified on certain events</p>
    </div>
    <div class="empty-state__steps">
      <h4>Let's get started</h4>
      <ol>
        <li><del><a href="/data_sources">Connect</a> a Data Source</del></li>
        <li><del><a href="/queries/new/">Create</a> your first Query</del></li>
        <li><a href="/alerts/new/">Create</a> your first Alert</li>
      </ol>
      <p>Need more support? <a href="http://help.redash.io/category/23-alerts" target="_blank">See our Help <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
    </div>
  </div>

  <div class="bg-white tiled">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('name')">Name <sort-icon column="'name'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse"></sort-icon></th>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('created_by')">Created By <sort-icon column="'created_by'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse"></sort-icon></th>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('state')">State <sort-icon column="'state'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse"></sort-icon></th>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('created_at')">Created By <sort-icon column="'created_at'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse"></sort-icon></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in $ctrl.alerts.getPageRows()">
        <td><a href="alerts/{{row.id}}">{{row.name}}</a></td>
        <td>{{row.created_by}}</td>
        <td><span ng-class="row.class">{{row.state | uppercase}}</span> since <span am-time-ago="row.updated_at"></span></td>
        <td><span am-time-ago="row.created_at"></span></td>
      </tr>
      </tbody>
    </table>
    <paginator paginator="$ctrl.alerts"></paginator>
  </div>

</div>
