<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="redash" ng-controller='MainCtrl'> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="redash" ng-controller='MainCtrl'> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="redash" ng-controller='MainCtrl'> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="redash" ng-controller='MainCtrl'> <!--<![endif]-->
<head>
    <base href="{{base_href}}">
    <title ng-bind="'{{name}} | ' + pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- build:css /styles/main.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/bower_components/gridster/dist/jquery.gridster.css">
    <link rel="stylesheet" href="/bower_components/pivottable/dist/pivot.css">
    <link rel="stylesheet" href="/bower_components/cornelius/src/cornelius.css">
    <link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="/bower_components/pace/themes/pace-theme-minimal.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/styles/redash.css">
    <!-- endbuild -->

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

</head>
<body>
<div growl></div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{base_href}}"><img src="/images/redash_icon_small.png"/></a>
    </div>
    {% raw %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown" ng-show="groupedDashboards.length > 0 || otherDashboards.length > 0 || currentUser.hasPermission('create_dashboard')" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle><span class="fa fa-tachometer"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu" dropdown-menu>
                    <span ng-repeat="(name, group) in groupedDashboards">
                        <li class="dropdown-submenu">
                          <a href="#" ng-bind="name"></a>
                          <ul class="dropdown-menu">
                            <li ng-repeat="dashboard in group" role="presentation">
                                <a role="menu-item" ng-href="dashboard/{{dashboard.slug}}" ng-bind="dashboard.name"></a>
                            </li>
                          </ul>
                        </li>
                    </span>
                    <li ng-repeat="dashboard in otherDashboards">
                        <a role="menu-item" ng-href="dashboard/{{dashboard.slug}}" ng-bind="dashboard.name"></a>
                    </li>
                    <li class="divider" ng-show="currentUser.hasPermission('create_dashboard') && (groupedDashboards.length > 0 || otherDashboards.length > 0)"></li>
                    <li><a data-toggle="modal" href="#new_dashboard_dialog" ng-show="currentUser.hasPermission('create_dashboard')">New Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown" ng-show="currentUser.hasPermission('view_query')" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Queries <b class="caret"></b></a>
                <ul class="dropdown-menu" dropdown-menu>
                    <li ng-show="currentUser.hasPermission('create_query')"><a href="queries/new">New Query</a></li>
                    <li><a href="queries">Queries</a></li>
                </ul>
            </li>
            <li>
                <a href="alerts">Alerts</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search" ng-submit="searchQueries()">
            <div class="form-group">
                <input type="text" ng-model="term" class="form-control" placeholder="Search queries...">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="currentUser.hasPermission('admin')">
                <a href="data_sources" title="Data Sources"><i class="fa fa-database"></i></a>
            </li>
            <li ng-show="currentUser.hasPermission('list_users')">
                <a href="users" title="Users"><i class="fa fa-users"></i></a>
            </li>
            <li class="dropdown" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle><span ng-bind="currentUser.name"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu" dropdown-menu>
                    <li style="width:300px">
                        <a ng-href="users/{{currentUser.id}}">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img ng-src="{{currentUser.gravatar_url}}" size="40px" class="img-circle"/>
                                </div>
                                <div class="col-sm-10">
                                    <p><strong>{{currentUser.name}}</strong></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="logout" target="_self">Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {% endraw %}

    </div>
</nav>

<edit-dashboard-form dashboard="newDashboard" id="new_dashboard_dialog"></edit-dashboard-form>
<div ng-view></div>
<div ng-if="showPermissionError" class="ng-cloak container" ng-cloak>
    <div class="row">
        <div class="text-center">
            <h1><span class="glyphicon glyphicon-lock"></span></h1>
            <p class="text-muted">
                You do not have permission to view the requested page.
            </p>
        </div>
    </div>
</div>

{% raw %}
<div class="visible-print">
  <hr>
  Source: {{location}}
</div>
<div class="container-fluid footer hidden-print">
    <hr/>
    <div class="container">
        <div class="row">
            <a href="http://redash.io">re:dash</a> <span ng-bind="version"></span>
            <small ng-if="newVersionAvailable" ng-cloak class="ng-cloak"><a href="http://version.redash.io/">(new re:dash version available)</a></small>
            <div class="pull-right">
                <a href="http://docs.redash.io/">Docs</a>
                <a href="http://github.com/getredash/redash">Contribute</a>
            </div>
        </div>
    </div>
</div>
{% endraw %}

{% include 'vendor_scripts.html' %}

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<script src="/scripts/app.js"></script>
<script src="/scripts/services/services.js"></script>
<script src="/scripts/services/resources.js"></script>
<script src="/scripts/services/notifications.js"></script>
<script src="/scripts/services/dashboards.js"></script>
<script src="/scripts/controllers/controllers.js"></script>
<script src="/scripts/controllers/dashboard.js"></script>
<script src="/scripts/controllers/admin_controllers.js"></script>
<script src="/scripts/controllers/data_sources.js"></script>
<script src="/scripts/controllers/query_view.js"></script>
<script src="/scripts/controllers/query_source.js"></script>
<script src="/scripts/controllers/users.js"></script>
<script src="/scripts/visualizations/base.js"></script>
<script src="/scripts/visualizations/chart.js"></script>
<script src="/scripts/visualizations/cohort.js"></script>
<script src="/scripts/visualizations/map.js"></script>
<script src="/scripts/visualizations/counter.js"></script>
<script src="/scripts/visualizations/boxplot.js"></script>
<script src="/scripts/visualizations/box.js"></script>
<script src="/scripts/visualizations/table.js"></script>
<script src="/scripts/visualizations/pivot.js"></script>
<script src="/scripts/visualizations/date_range_selector.js"></script>
<script src="/scripts/directives/directives.js"></script>
<script src="/scripts/directives/query_directives.js"></script>
<script src="/scripts/directives/data_source_directives.js"></script>
<script src="/scripts/directives/dashboard_directives.js"></script>
<script src="/scripts/filters.js"></script>
<script src="/scripts/controllers/alerts.js"></script>
<!-- endbuild -->

<script>
    // TODO: move currentUser & features to be an Angular service
    var clientConfig = {{ client_config|safe }};
    var basePath = "{{base_href}}";
    var currentUser = {{ user|safe }};
    var currentOrgSlug = "{{ org_slug }}";

    currentUser.canEdit = function(object) {
        var user_id = object.user_id || (object.user && object.user.id);
        return this.hasPermission('admin') || (user_id && (user_id == currentUser.id));
    };

    currentUser.hasPermission = function(permission) {
        return this.permissions.indexOf(permission) != -1;
    };

    currentUser.isAdmin = currentUser.hasPermission('admin');


    {{ analytics|safe }}
</script>

</body>
</html>
