.cornelius-container {
  .cornelius-title {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14pt;
    color: #3A3838;
    border-collapse: collapse;
  }

  .cornelius-table {
    font-size: 9pt;
    border-spacing: 0;
    border: 1px solid #E4E4E4;
    border-collapse: collapse;

    th, td {
      text-align: center;
      padding: 10px;
      border: 1px solid #E4E4E4;
      color: #3A3838;
      font-weight: bold;
    }

    .cornelius-label {
      text-align: left;
    }

    .cornelius-empty,
    .cornelius-percentage,
    .cornelius-absolute {
      font-weight: normal;
      border: none;
    }

    .cornelius-label,
    .cornelius-people,
    .cornelius-stage {
      font-weight: bold;
      color: #3A3838;
    }

    .cornelius-people,
    .cornelius-stage,
    .cornelius-empty,
    .cornelius-percentage,
    .cornelius-absolute {
      width: 70px;
    }

    .cornelius-empty {
      background-color: #FFFFFF;
    }

    .cornelius-low {
      background-color: #F4F8FD;
    }

    .cornelius-medium-low {
      background-color: #D8E6FF;
    }

    .cornelius-medium {
      background-color: #A6CAFF;
    }

    .cornelius-medium-high {
      background-color: #8FA4F8;
    }

    .cornelius-high {
      background-color: #3963DD;
    }

    .cornelius-hot {
      background-color: #163BA5;
    }

    .cornelius-extra-hot {
      background-color: #041D66;
    }

    .cornelius-medium-high,
    .cornelius-high,
    .cornelius-hot,
    .cornelius-extra-hot {
      color: #FFFFFF;
      text-shadow: 1px 1px 1px black;
    }
  }
}
