<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="$ctrl.dismiss()">&times;</button>
  <h4 class="modal-title">Add/Edit Tags</h4>
</div>
<div class="modal-body">
  <ui-select multiple append-to-body tagging tagging-label="(create new tag)"
    ng-model="$ctrl.resolve.items" sortable="true" autofocus>
    <ui-select-match placeholder="Add some tags...">{{ $item }}</ui-select-match>
    <ui-select-choices repeat="value in $ctrl.resolve.availableTags | filter:$select.search">
      {{ value }}
    </ui-select-choices>
  </ui-select>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
</div>
