<div class="form-horizontal">
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}">
      <a ng-click="changeTab('general')">General</a>
    </li>
  </ul>
  <div ng-show="currentTab == 'general'">
    <div class="form-group">
      <label class="col-lg-6">Basic Show Image Value Column Name</label>
      <div class="col-lg-6">
        <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.counterColName" class="form-control" ng-disabled="visualization.options.countRow"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-6">Basic Show Image Value Row Number</label>
      <div class="col-lg-6">
        <input type="number" ng-model="visualization.options.rowNumber" class="form-control" ng-disabled="visualization.options.countRow" min="1" ng-max="queryResult.getData().length" max="{{queryResult.getData().length}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-6">Target Value Column Name</label>
      <div class="col-lg-6">
        <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.targetColName" class="form-control">
          <option value="">No target value</option>
        </select>
      </div>
    </div>
  </div>
</div>
