<div>
  <div class="form-group">
      <label class="control-label">Chart Type</label>
      <select required ng-model="visualization.options.series.type" ng-options="value as key for (key, value) in seriesTypes" class="form-control"></select>
  </div>

  <div class="form-group">
      <label class="control-label">Stacking</label>
      <select required ng-model="stacking" ng-options="value as key for (key, value) in stackingOptions" class="form-control"></select>

      <label class="control-label">X Axis Type</label>
      <select required ng-model="xAxisType" ng-options="value as key for (key, value) in xAxisOptions" class="form-control"></select>

      <span ng-repeat="column in columns">
          <label class="control-label">{{column.name}}</label>
          <select ng-options="value as key for (key, value) in columnTypes" class="form-control" ng-model="visualization.options.columnMapping[column.name]" ng-change="logMapping()"></select>
      </span>
  </div>
</div>