<div class="form-group">
    <label class="control-label">Time Interval</label>
    <select class="form-control" ng-model="cohortOptions.timeInterval">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
    </select>
    <label class="control-label">Time Label </label>
    <select class="form-control" ng-model="cohortOptions.timeLabel">
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="month">Month</option>
    </select>
</div>
