<form role="form" name="visForm" ng-submit="submit()">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input name="name" type="text" class="form-control" ng-model="visualization.name" placeholder="{{visualization.type}}">
  </div>

  <div class="form-group">
    <label class="control-label">Visualization Type</label>
    <select required ng-model="visualization.type" ng-options="value as key for (key, value) in visTypes" class="form-control" ng-change="typeChanged()"></select>
  </div>

  <visualization-options-editor></visualization-options-editor>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
