<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2">Map height (px)</label>
        <div class="col-sm-4">
            <input class="form-control" type="number" ng-model = "visualization.options.height" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2">Draw option</label>
        <div class="col-sm-4">
            <select ng-options="opt for opt in draw_options" ng-model="visualization.options.draw" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2">Latitude column name</label>
        <div class="col-sm-4">
            <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.latColName" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2">Longitude column name</label>
        <div class="col-sm-4">
            <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.lonColName" class="form-control"></select>
        </div>
    </div>

    <div ng-show = "visualization.options.draw == 'Color'">
        <div class="form-group">
            <label class="col-lg-2">Classify by column</label>
            <div class="col-sm-4">
                <select ng-options="name for name in classify_columns" ng-model="visualization.options.classify" class="form-control"></select>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-6">
                <div ng-repeat="element in visualization.options.classification" class="list-group">
                    <div class="list-group-item active">
                        {{element.value}}
                    </div>

                    <div class="list-group-item">
                        <div class="form-group">
                            <label class="col-lg-4">Color</label>
                            <div class="col-sm-4">
                                <input class="form-control" style="background-color:{{element.color}};" type="text" ng-model = "element.color" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
