<div>
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}"><a ng-click="currentTab='general'">General</a></li>
    <li ng-class="{active: currentTab == 'leaflet'}"><a ng-click="currentTab='leaflet'">Leaflet</a></li>
    <li ng-class="{active: currentTab == 'markercluster'}"><a ng-click="currentTab='markercluster'">MarkerCluster</a></li>
    <li ng-class="{active: currentTab == 'advanced'}"><a ng-click="currentTab='advanced'">Advanced</a></li>
  </ul>

  <div ng-show="currentTab == 'general'">
    <div class="form-group">
        <label class="control-label">Description</label>
        <div>
          <textarea class='form-control' ng-model="visualization.description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Map height (px)</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.general.height" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Latitude column name</label>
        <div>
            <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.general.latColName" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Longitude column name</label>
        <div>
            <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.general.lonColName" class="form-control"></select>
        </div>
    </div>
  </div>

  <div ng-show="currentTab == 'leaflet'">

    <p class="bg-info">You can find the docs <a href="https://github.com/angular-ui/ui-leaflet/blob/3924aec0e755c16ce7be839089022e212e361c5e/doc/defaults-attribute.md" title="angular-ui-leaflet docs">here</a> </p>

    <div class="form-group">
        <label class="control-label">Center: Latitude</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.leaflet.center.lat" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label">Center: Longitude</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.leaflet.center.lng" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label">Center: Zoom</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.leaflet.center.zoom" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label">Max zoom</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.leaflet.maxZoom" min=1 max=20 />
        </div>
    </div>



    <div class="form-group">
        <label class="control-label">Min zoom</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.leaflet.minZoom" min=1 max=20 />
        </div>
    </div>


    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.keyboard">
        <i class="input-helper"></i> keyboard
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.dragging">
        <i class="input-helper"></i> dragging
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.zoomControl">
        <i class="input-helper"></i> zoomControl
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.doubleClickZoom">
        <i class="input-helper"></i> doubleClickZoom
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.scrollWheelZoom">
        <i class="input-helper"></i> scrollWheelZoom
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.tap">
        <i class="input-helper"></i> tap
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.attributionControl">
        <i class="input-helper"></i> attributionControl
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.zoomAnimation">
        <i class="input-helper"></i> zoomAnimation
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.fadeAnimation">
        <i class="input-helper"></i> fadeAnimation
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.markerZoomAnimation">
        <i class="input-helper"></i> markerZoomAnimation
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.worldCopyJump">
        <i class="input-helper"></i> worldCopyJump
      </label>
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.leaflet.crs">
        <i class="input-helper"></i> crs
      </label>
    </div>

  </div>

  <div ng-show="currentTab == 'markercluster'">
    <div class="bg-info">You can find the docs <a href="https://github.com/Leaflet/Leaflet.markercluster#options" title="leaflet markercluster docs">here</a> </div>
    <br>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.showCoverageOnHover">
        <i class="input-helper"></i>showCoverageOnHover
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.zoomToBoundsOnClick">
        <i class="input-helper"></i>zoomToBoundsOnClick
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.spiderfyOnMaxZoom">
        <i class="input-helper"></i>spiderfyOnMaxZoom
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.removeOutsideVisibleBounds">
        <i class="input-helper"></i>removeOutsideVisibleBounds
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.animate">
        <i class="input-helper"></i>animate
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.animateAddingMarkers">
        <i class="input-helper"></i>animateAddingMarkers
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.disableClusteringAtZoom">
        <i class="input-helper"></i>disableClusteringAtZoom
      </label>
    </div>

    <div class="form-group">
        <label class="control-label">maxClusterRadius</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.markercluster.maxClusterRadius" />
        </div>
    </div>

  </div>

  <div ng-show="currentTab == 'advanced'">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.singleMarkerMode">
        <i class="input-helper"></i>singleMarkerMode
      </label>
    </div>

    <div class="form-group">
        <label class="control-label">spiderLegPolylineOptions</label>
        <div>
          <textarea class='form-control' ng-model="visualization.options.markercluster.spiderLegPolylineOptions"></textarea>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label">spiderfyDistanceMultiplier</label>
      <div>
        <input class="form-control" type="number" ng-model="visualization.options.markercluster.spiderfyDistanceMultiplier" min=0 max=1 step=0.1 />
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.markercluster.chunkedLoading">
        <i class="input-helper"></i>chunkedLoading
      </label>
    </div>

    <div class="form-group">
        <label class="control-label">chunkInterval</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.markercluster.chunkInterval" />
        </div>
    </div>

    <div>
        <label class="control-label">chunkDelay</label>
        <div>
            <input class="form-control" type="number" ng-model="visualization.options.markercluster.chunkDelay" />
        </div>
    </div>

  </div>

</div>
