<div class="form-horizontal">
	  <div class="form-group">
		<label class="col-lg-6">Cols</label>
		  <div class="col-lg-6">
				<select multiple ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.cols" class="form-control"></select>
		  </div>
	 </div>
	 <div class="form-group">
		<label class="col-lg-6">Rows</label>
		  <div class="col-lg-6">
				<select multiple ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.rows" class="form-control"></select>
		  </div>
	 </div> 
</div>
