<form role="form">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control" ng-model="vis.name">
  </div>

  <div class="form-group">
    <label class="control-label">Type</label>
    <select required ng-model="vis.type" ng-options="vis.type as vis.name for vis in visTypes" class="form-control" ng-change="typeChanged()"></select>
  </div>

  <!-- pivot config -->
  <div class="form-group" ng-show="vis.type === 'pivot'">
    <input type="text" class="form-control" placeholder="pivot config 1" ng-model="vis.config.prop1">
  </div>
  <div class="form-group" ng-show="vis.type === 'pivot'">
    <input type="text" class="form-control" placeholder="pivot config 2" ng-model="vis.config.prop2">
  </div>

  <!-- cohort config -->
  <div class="form-group" ng-show="vis.type === 'cohort'">
    <input type="text" class="form-control" placeholder="cohort config 1" ng-model="vis.config.prop1">
  </div>
  <div class="form-group" ng-show="vis.type === 'cohort'">
    <input type="text" class="form-control" placeholder="cohort config 2" ng-model="vis.config.prop2">
  </div>


  <div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="submit()">Add</button>
  </div>

  <div class="form-group">
    <code>{{vis}}</code>
  </div>
</form>
