<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group col-lg-4">
                <li class="list-group-item" ng-repeat="(name, value) in status">
                    <span class="badge">{{value}}</span>
                    {{name | toHuman}}
                </li>
            </ul>
            <ul class="list-group col-lg-4">
                <li class="list-group-item active">Manager</li>
                <li class="list-group-item" ng-repeat="(name, value) in manager">
                    <span class="badge">{{value}}</span>
                    {{name | toHuman}}
                </li>
            </ul>
            <ul class="list-group col-lg-4">
                <div ng-repeat="worker in workers">
                    <li class="list-group-item active">Worker {{$index+1}}</li>
                    <li class="list-group-item" ng-repeat="(name, value) in worker">
                        <span class="badge">{{value}}</span>
                        {{name | toHuman}}
                    </li>
                </div>
            </ul>
        </div>
        <div class="panel-footer">Next refresh: <span am-time-ago="refresh_time"></span></div>
    </div>
</div>