<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group col-lg-4">
                <li class="list-group-item" ng-repeat="(name, value) in status">
                    <span class="badge">{{value}}</span>
                    {{name | toHuman}}
                </li>
            </ul>
            <ul class="list-group col-lg-4">
                <li class="list-group-item active">Manager</li>
                <li class="list-group-item">
                    <span class="badge" am-time-ago="manager.last_refresh_at*1000.0"></span>
                    Last Refresh
                </li>
                <li class="list-group-item">
                    <span class="badge" am-time-ago="manager.started_at*1000.0"></span>
                    Started
                </li>
                <li class="list-group-item">
                    <span class="badge">{{manager.outdated_queries_count}}</span>
                    Outdated Queries Count
                </li>
            </ul>
            <ul class="list-group col-lg-4">
                <li class="list-group-item active">Queues</li>
                <li class="list-group-item" ng-repeat="(name, value) in manager.queues">
                    <span class="badge">{{value.size}}</span>
                    {{name}} ({{value.data_sources}})
                </li>
            </ul>
        </div>
        <div class="panel-footer">Next refresh: <span am-time-ago="refresh_time"></span></div>
    </div>
</div>