
<div class="container">
  	<div style="margin:20px 0px;" class="row"><div class="col-md-12" ><h1>View User</h1></div></div>

    <div class="row"><div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>User ID</dt>
            <dd>{{id}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>User Name</dt>
            <dd>{{name}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>User Email</dt>
            <dd>{{email}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>User Groups</dt>
            <dd>{{groups}}</dd>
        </dl>

</div></div>
</div>

