
<div class="container">
  	<div style="margin:20px 0px;" class="row"><div class="col-md-12" ><h1>View Group</h1></div></div>

    <div class="row"><div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Group Name:</dt>
            <dd>{{name}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Group Permissions:</dt>
            <dd>{{permissions}} </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Group Tables:</dt>
            <dd>{{tables}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Group Created At:</dt>
            <dd>{{created_at}}</dd>
        </dl>

</div></div>
</div>
