<new-widget-form dashboard="dashboard"></new-widget-form>
<edit-dashboard-form dashboard="dashboard" id="edit_dashboard_dialog"></edit-dashboard-form>

<div class="container">
    <page-header title="{{dashboard.name}}">
      <span ng-if="!dashboard.is_archived && !public" class="hidden-print">
          <button type="button" class="btn btn-sm" ng-class="{'btn-default': !refreshEnabled, 'btn-primary': refreshEnabled}" tooltip="Enable/Disable Auto Refresh" ng-click="triggerRefresh()">
            <span class="zmdi zmdi-refresh"></span>
          </button>
          <button type="button" class="btn btn-sm" ng-class="{'btn-default': !isFullscreen, 'btn-primary': isFullscreen}" tooltip="Enable/Disable Fullscreen display" ng-click="toggleFullscreen()">
            <span class="zmdi zmdi-fullscreen"></span>
          </button>
          <button type="button" class="btn btn-sm" ng-class="{'btn-default': !dashboard.publicAccessEnabled, 'btn-primary': dashboard.publicAccessEnabled}" tooltip="Enable/Disable Share URL" ng-click="openShareForm()" ng-if="dashboard.canEdit() || dashboard.publicAccessEnabled">
            <span class="zmdi zmdi-share"></span>
          </button>
      </span>
      <div class="btn-group hidden-print" role="group" ng-show="dashboard.canEdit()" dropdown>
        <button class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
          <span class="zmdi zmdi-more"></span>
        </button>
        <ul class="dropdown-menu pull-right" dropdown-menu>
          <li><a data-toggle="modal" hash-link hash="edit_dashboard_dialog">Edit Dashboard</a></li>
          <li><a data-toggle="modal" hash-link hash="add_query_dialog">Add Widget</a></li>
          <li ng-if="!dashboard.is_archived"><a ng-click="archiveDashboard()">Archive Dashboard</a></li>
        </ul>
      </div>
    </page-header>
  <div class="col-lg-12 p-5 m-b-10 bg-orange c-white" ng-if="dashboard.is_archived">
    This dashboard is archived and won't appear in the dashboards list or search results.
  </div>

  <div class="m-b-5">
    <filters ng-if="dashboard.dashboard_filters_enabled"></filters>
  </div>

    <div ng-repeat="row in dashboard.widgets" class="row">
        <div ng-repeat="widget in row" class="col-lg-{{widget.width | colWidth}}" ng-controller='WidgetCtrl'>
            <div class="tile" ng-if="type=='visualization'">
                <div class="t-header widget">
                    <div class="th-title">
                        <p class="hidden-print">
                            <span ng-hide="currentUser.hasPermission('view_query')">{{query.name}}</span>
                            <query-link query="query" visualization="widget.visualization" ng-show="currentUser.hasPermission('view_query')"></query-link>
                            <small><visualization-name visualization="widget.visualization"/></small>
                        </p>
                        <p class="visible-print">
                          {{query.name}}
                          <visualization-name visualization="widget.visualization"/>
                        </p>
                        <div class="text-muted" ng-bind-html="query.description | markdown"></div>
                    </div>
                  <div class="actions dropdown" dropdown ng-if="!public">
                    <a data-toggle="dropdown" dropdown-toggle><i class="zmdi zmdi-more"></i></a>

                    <ul class="dropdown-menu pull-right" dropdown-menu style="z-index:1000000">
                      <li><a ng-disabled="!queryResult.getData()" query-result-link target="_self">Download as CSV File</a></li>
                      <li><a ng-disabled="!queryResult.getData()" file-type="xlsx" query-result-link target="_self" >Download as Excel File</a></li>
                      <li><a ng-href="queries/{{query.id}}#{{widget.visualization.id}}" ng-show="currentUser.hasPermission('view_query')">View Query</a></li>
                      <li><a ng-show="dashboard.canEdit()" ng-click="deleteWidget()">Remove From Dashboard</a></li>
                    </ul>
                  </div>
                </div>

                <parameters parameters="widget.query.getParametersDefs()"></parameters>

                <div ng-switch="queryResult.getStatus()">
                  <div ng-switch-when="failed">
                    <div class="alert alert-danger m-5" ng-show="queryResult.getError()">Error running query: <strong>{{queryResult.getError()}}</strong></div>
                  </div>
                  <div ng-switch-when="done">
                      <visualization-renderer visualization="widget.visualization" query-result="queryResult" class="t-body"></visualization-renderer>
                  </div>
                  <div ng-switch-default class="text-center">
                    <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-5x"></i>
                  </div>
                </div>

                <div class="p-5 clearfix" style="line-height:28px;">
                    <span class="small hidden-print">Updated: <span am-time-ago="queryResult.getUpdatedAt()"></span></span>
                    <span class="visible-print">
                      Updated: {{queryResult.getUpdatedAt() | dateTime}}
                    </span>
                    <button class="btn btn-sm btn-default pull-right hidden-print" ng-click="reload(true)" ng-if="!public"><i class="zmdi zmdi-refresh"></i></button>
                </div>
            </div>

          <div class="tile" ng-if="type=='restricted'">
            <div class="t-body">
              <div class="text-center">
                <h1><span class="zmdi zmdi-lock"></span></h1>
                <p class="text-muted">
                  This widget requires access to a data source you don't have access to.
                </p>
              </div>
            </div>
          </div>

          <div class="tile" ng-hide="widget.width == 0" ng-if="type=='textbox'">
            <div class="t-body">
              <div class="dropdown" dropdown ng-if="!public && dashboard.canEdit()">
                <div class="dropdown-header">
                  <a data-toggle="dropdown" dropdown-toggle class="actions"><i class="zmdi zmdi-more"></i></a>
                </div>

                <ul class="dropdown-menu pull-right" dropdown-menu style="z-index:1000000">
                  <li><a ng-show="dashboard.canEdit()" ng-click="editTextBox()">Edit</a></li>
                  <li><a ng-show="dashboard.canEdit()" ng-click="deleteWidget()">Remove From Dashboard</a></li>
                </ul>
              </div>
              <p ng-bind-html="widget.text | markdown" class="p-5"></p>
            </div>
          </div>
        </div>
    </div>
</div>
