<form role="form" name="visForm" ng-submit="submit()">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input name="name" type="text" class="form-control" ng-model="vis.name" placeholder="{{vis.type}}">
  </div>

  <div class="form-group">
    <label class="control-label">Visualization Type</label>
    <select required ng-model="vis.type" ng-options="value as key for (key, value) in visTypes" class="form-control" ng-change="typeChanged()"></select>
  </div>

  <div class="form-group" ng-show="vis.type == visTypes.Chart">
    <label class="control-label">Chart Type</label>
    <select required ng-model="vis.options.series.type" ng-options="value as key for (key, value) in seriesTypes" class="form-control"></select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
