<div class="container">
    <div class="row">
        <p>
            <a href="queries/new" class="btn btn-default">New Query</a>
            <button ng-show="currentUser.hasPermission('create_dashboard')" type="button" class="btn btn-default" data-toggle="modal" href="#new_dashboard_dialog">New Dashboard</button>
            <a href="alerts/new" class="btn btn-default">New Alert</a>
        </p>
    </div>

    <div class="row">
        <div class="list-group col-md-6">
            <div class="list-group-item active">
                Recent Dashboards
            </div>
            <a ng-href="dashboard/{{dashboard.slug}}" class="list-group-item" ng-repeat="dashboard in recentDashboards">
                {{dashboard.name}}
            </a>
        </div>

        <div class="list-group col-md-6">
            <div class="list-group-item active">
                Recent Queries
            </div>
            <a ng-href="queries/{{query.id}}" class="list-group-item" ng-repeat="query in recentQueries">{{query.name}}</a>
        </div>
    </div>

    <div ng-show="currentUser.hasPermission('super_admin')" class="row">
        <div class="list-group">
            <div class="list-group-item active">Admin</div>
            <a href="admin/status" class="list-group-item">Status</a>
        </div>
    </div>
</div>