<div class="container">

  <div class="tile m-t-10 m-b-5">
    <div class="t-body p-5">
      <a href="queries/new" ng-show="currentUser.hasPermission('create_query')" class="btn btn-default">New Query</a>
      <button ng-show="currentUser.hasPermission('create_dashboard')" type="button" class="btn btn-default"
              data-toggle="modal" href="#new_dashboard_dialog">New Dashboard
      </button>
      <a href="alerts/new" class="btn btn-default">New Alert</a>
    </div>
  </div>

  <div class="tile">
    <div class="t-body tb-padding">
      <div class="row">
          <div class="col-md-6">
            <p class="f-500 m-b-20 c-black">Recent Dashboards</p>
            <div class="list-group">
              <a ng-href="dashboard/{{dashboard.slug}}" class="list-group-item" ng-repeat="dashboard in recentDashboards">
                {{dashboard.name}}
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <p class="f-500 m-b-20 c-black">Recent Queries</p>
            <div class="list-group">
              <a ng-href="queries/{{query.id}}" class="list-group-item"
                 ng-repeat="query in recentQueries">{{query.name}}</a>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
