<div class="modal fade" id="add_query_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-disabled="saveInProgress" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>
                    <form class="form-inline" role="form" ng-submit="loadVisualizations()">
                      <div class="form-group">
                        <input class="form-control" placeholder="Query Id" ng-model="queryId">
                      </div>
                      <button type="submit" class="btn btn-primary" ng-disabled="!queryId">
                        Load visualizations
                      </button>
                    </form>
                </p>

                <div ng-show="query">
                  <div class="form-group">
                      <label for="">Choose Visualation</label>
                      <select ng-model="selectedVis" ng-options="vis as vis.name group by vis.type for vis in query.visualizations" class="form-control"></select>
                  </div>

                  <div class="form-group">
                      <label for="">Widget Size</label>
                      <select class="form-control" ng-model="widgetSize" ng-options="c.value as c.name for c in widgetSizes"></select>
                  </div>
                </div>
            </div>
            <div class="modal-footer" ng-if="selectedVis">
                <button type="button" class="btn btn-default" ng-disabled="saveInProgress" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="saveInProgress" ng-click="saveWidget()">Add to Dashboard</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>