
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {{ query.name }}
                <span class="pull-right">
                    <a class="btn btn-primary" ng-disabled="queryExecuting || !queryResult.getData()" ng-href="{{dataUri}}" download="{{dataFilename}}" target="_self"><span class="glyphicon glyphicon-cloud-download"></span> Download
                    </a>
                </span>
            </h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-3">
            <div ng-show="query.description">
                <em>{{ query.description }}</em>
                <hr>
            </div>
            <p>
                <span class="glyphicon glyphicon-refresh"></span>
                <span class="text-muted" ng-show="queryResult.query_result.retrieved_at">Last update </span>
                <strong am-time-ago="queryResult.query_result.retrieved_at"></strong>
            </p>
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span class="text-muted">Created By </span><strong>{{query.user.name}}</strong>
            </p>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                <span class="text-muted" ng-show="queryResult.getRuntime()>=0">Runtime </span>
                <strong>{{queryResult.getRuntime() | durationHumanize}}</strong>
            </p>
            <p>
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="text-muted">Rows </span><strong>{{queryResult.getData().length}}</strong>
            </p>

        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <rd-tab id="table" name="Table"></rd-tab>
                        <rd-tab id="pivot" name="Pivot Table"></rd-tab>
                        <!-- hide the table visualization -->
                        <rd-tab id="{{vis.id}}" name="{{vis.name}}" ng-hide="vis.type=='TABLE'" ng-repeat="vis in query.visualizations"></rd-tab>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <grid-renderer ng-show="selectedTab == 'table'" query-result="queryResult" items-per-page="50"></grid-renderer>
                    <pivot-table-renderer ng-show="selectedTab == 'pivot'" query-result="queryResult"></pivot-table-renderer>

                    <div class="col-lg-12" ng-show="selectedTab == vis.id" ng-repeat="vis in query.visualizations">
                        <visualization-renderer visualization="vis" query-result="queryResult"></visualization-renderer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
