<div class="tile m-10" ng-controller='EmbeddedVisualizationCtrl'>
  <div class="t-heading p-10">
    <h3 class="th-title">
      <p>
        <img src="/images/redash_icon_small.png" style="height: 24px;"/>
        {{query.name}}
        <small><visualization-name visualization="visualization"/></small>
      </p>
      <small ng-if="showQueryDescription">
        <div class="text-muted" ng-bind-html="query.description | markdown"></div>
      </small>
    </h3>
  </div>

  <visualization-renderer visualization="visualization" query-result="queryResult" class="t-body">
  </visualization-renderer>

  <div class="bg-ace clearfix p-10">
    <div class="col-sm-6">
      <span class="label label-default hidden-print">Updated: <span am-time-ago="queryResult.getUpdatedAt()"></span></span>
      <span class="label label-default visible-print">Updated: {{queryResult.getUpdatedAt() | dateTime}}</span>
    </div>
    <div class="col-sm-6 text-right hidden-print">
      <a class="btn btn-default btn-xs" ng-href="queries/{{visualization.query.id}}#{{visualization.id}}" target="_blank" tooltip="Open in Re:dash">
        <span class="glyphicon glyphicon-link"></span>
      </a>

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" dropdown-toggle
                aria-expanded="false">
          Download Dataset <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" dropdown-menu>
          <li>
            <a query-result-link target="_self">
              <span class="fa fa-file-o"></span> Download as CSV File
            </a>
          </li>
          <li>
            <a query-result-link file-type="xlsx" target="_self">
              <span class="fa fa-file-excel-o"></span> Download as Excel File
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
