<style>
.ui-select-highlight { background: yellow}
</style>
<div class="schema-container">
  <div class="p-t-5 p-b-5">
    <input type="text" placeholder="Search schema..." class="form-control" ng-model="schemaFilter">
  </div>
  <div class="schema-browser" vs-repeat vs-size="getSize(table)">
    <div ng-repeat="table in schema | filter:schemaFilter track by table.name">
      <div class="table-name" ng-click="showTable(table)">
        <i class="fa fa-table"></i>
        <strong><span title="{{table.name}}" ng-bind-html="table.name | highlight:schemaFilter"></span></strong>
        <span style="float:right" ng-if="filtered.length !== 0">{{filtered.length}}</span>
        <span ng-if="table.size !== undefined"> ({{table.size}})</span>
      </div>
      <div collapse="table.collapsed">
        <div ng-repeat="column in filtered = (table.columns | filter:schemaFilter)" style="padding-left:16px;" ng-bind-html="column | highlight:schemaFilter"></div>
        <div ng-repeat="col in table.columns | filter:'!'+schemaFilter" style="padding-left:16px;">{{col}}</div>
      </div>
    </div>
  </div>
</div>
