<style>
.ui-select-highlight { background: yellow}
</style>
<div class="schema-container">
  <div class="p-t-5 p-b-5">
    <input type="text" placeholder="Search schema..." class="form-control" ng-model="schemaFilter">
  </div>
  <div class="schema-browser" vs-repeat vs-size="getSize(table)">
    <div ng-repeat="table in schema | filter: searchSchema">
      <div class="table-name" ng-click="showTable(table)">
        <i class="fa fa-table" style='float: left; padding-right: 5px;padding-top: 3px;'></i>
        <strong><span title="{{table.name}}" alt="{{table.name}}" ng-bind-html="table.name.split('.')[1] | highlight:schemaFilter" class='ellipsis' style='width: 200px; float: left'></span></strong>
        <span style="float:right" ng-if="filtered.length !== 0">{{filtered.length}}</span>
        <span ng-if="table.size !== undefined"> ({{table.size}})</span>
      </div>
      <div collapse="table.collapsed">
        <div ng-repeat="column in filtered = ( getKeys(table.columns) | filter:schemaFilter)" style="padding-left:16px;">
            <span ng-bind-html="(column | highlight:schemaFilter)"></span>
            <span style="float:right; font-size: 11px;" ng-bind="(table.columns[column])"></span>
        </div>
        <div ng-repeat="column2 in getKeys(table.columns) | filter:'!'+schemaFilter" style="padding-left:16px;">{{column2}}<span style="float:right; font-size: 11px;">{{table.columns[column2]}}</span></div>
      </div>
    </div>
  </div>
</div>
