.query-editor-controls {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;

  .query-editor-controls-button-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .ant-btn {
    height: auto;

    .fa + span,
    .zmdi + span {
      // if button has icon and label - add some space between them
      margin-left: 5px;
    }
  }
}
