<div class="row">
    <div class="col-xs-12">
        <strong>Destination subscriptions</strong>
        <p><i>Destination subscriptions will send a notification to the configured destination</i></p>
        <form name="subscribeForm" ng-submit="saveSubscriber()" class="form-inline">
            <h4>Add a destination subscription</h4>
            <div class="form-group col-xs-9">
                <ui-select ng-model="subscription.destination">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="d in destinations">
                        <span ng-bind-html=destinationsDisplay(d)></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-xs-3">
                <button class="btn btn-primary">Subscribe</button>
            </div>
        </form>
        <div class="list-group">
            <label>Currently subscribed</label>
            <div class="list-group-item" ng-repeat="subscriber in subscribers">
                <span ng-bind-html=destinationsDisplay(subscriber.destination)></span>
                <button class="btn btn-xs btn-danger pull-right" ng-click="unsubscribe(subscriber)">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>
