<div class="p-5">
  <div class="row">

    <ui-select ng-model="subscription.destination" class="col-sm-10">
      <ui-select-match>{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="d in destinations">
        <span ng-bind-html=destinationsDisplay(d)></span>
      </ui-select-choices>
    </ui-select>
    <button class="btn btn-primary col-sm-2" ng-click="saveSubscriber()">Add</button>
  </div>

  <div class="list-group">
    <label>Currently subscribed</label>
    <div class="list-group-item" ng-repeat="subscriber in subscribers">
      <span ng-bind-html=destinationsDisplay(subscriber.destination)></span>
      <button class="btn btn-xs btn-danger pull-right" ng-click="unsubscribe(subscriber)">Unsubscribe</button>
    </div>
  </div>
</div>
