<div class="visualization-editor">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.closeDialog()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Visualization Editor</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <visualization-options-editor
        visualization="$ctrl.visualization"
        update-visualization="$ctrl.updateVisualization"
        data="$ctrl.data"
        query-result="$ctrl.queryResult"
        filters="$ctrl.queryResult.getFilters()"
        set-filters="$ctrl.setFilters">
      </visualization-options-editor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.closeDialog()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.submit()">Save</button>
  </div>
</div>
