<div class="container">

  <page-header title='{{$ctrl.alert.name || $ctrl.getDefaultName() || "New Alert" }}'>
  </page-header>

  <email-settings-warning function="'alert emails'"></email-settings-warning>

  <div class="container">
    <div class="row bg-white tiled p-10">
      <div class="col-md-8">
        <form name="alertForm" class="form">
          <div class="form-group">
            <label>Query</label>
            <ui-select ng-model="$ctrl.alert.query" reset-search-input="false" on-select="$ctrl.onQuerySelected($item)" ng-disabled="!$ctrl.canEdit">
              <ui-select-match placeholder="Search a query by name">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="q in $ctrl.queries"
                                 refresh="$ctrl.searchQueries($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="$ctrl.trustAsHtml(q.name | highlight: $select.search)"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group" ng-show="$ctrl.selectedQuery">
            <label>Name</label>
            <input type="string" placeholder="{{$ctrl.getDefaultName()}}" class="form-control" ng-model="$ctrl.alert.name" ng-disabled="!$ctrl.canEdit">
          </div>

          <div ng-show="$ctrl.queryResult" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-2">Value column</label>
              <div class="col-md-4">
                <select ng-options="name for name in $ctrl.queryResult.getColumnNames()" ng-model="$ctrl.alert.options.column"
                        class="form-control" ng-disabled="!$ctrl.canEdit"></select>
              </div>
              <label class="control-label col-md-2">Value</label>
              <div class="col-md-4">
                <p class="form-control-static">{{$ctrl.queryResult.getData()[0][$ctrl.alert.options.column]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">Op</label>
              <div class="col-md-4">
                <select ng-options="name for name in $ctrl.ops" ng-model="$ctrl.alert.options.op" class="form-control" ng-disabled="!$ctrl.canEdit"></select>
              </div>
              <label class="control-label col-md-2">Reference</label>
              <div class="col-md-4">
                <input type="number" step="any" class="form-control" ng-model="$ctrl.alert.options.value" placeholder="reference value" ng-disabled="!$ctrl.canEdit"
                       required/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">Rearm seconds</label>
              <div class="col-md-4">
                <input type="number" class="form-control" ng-model="$ctrl.alert.rearm" ng-disabled="!$ctrl.canEdit"/>
              </div>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.canEdit">
            <button class="btn btn-primary" ng-disabled="!alertForm.$valid" ng-click="$ctrl.saveChanges()">Save</button>
            <button class="btn btn-danger" ng-if="$ctrl.alert.id" ng-click="$ctrl.delete()">Delete</button>
          </div>
        </form>
      </div>
      <div class="col-md-4" ng-if="$ctrl.alert.id">
        <alert-subscriptions alert-id="$ctrl.alert.id"></alert-subscriptions>
      </div>
    </div>
  </div>
</div>
