<div class='container row'>
  <page-header title="Dashboards"></page-header>
  <div class="col-lg-3">
    <input type='text' class='form-control' placeholder="Search Dashboards..." 
      ng-change="$ctrl.tableParams.reload()" ng-model="searchText"/>
    <div class='list-group taglist'>
      <h3 class='list-group-item no-margin'>Tags</h3>
      <a ng-repeat='tag in $ctrl.allTags' ng-class='{"active": $ctrl.tagIsSelected(tag)}' 
      class='list-group-item' ng-click='$ctrl.toggleTag(tag)'>
        {{ tag }}
      </a>
    </div>
  </div>
  <div class="col-lg-9">
    <tab-nav tabs="$ctrl.tabs"></tab-nav>
    <div class="bg-white">
      <table class="table table-condensed table-hover" ng-table="$ctrl.tableParams" show-filters='true'>
        <tr ng-repeat="dashboard in $data">
          <td data-title="'Name'" sortable="'untagged_name'">
            <a href="dashboard/{{ dashboard.slug }}">
              {{ dashboard.untagged_name }}
            </a>
          </td>
          <td data-title="'Tags'"><span class="label label-primary two-px-margin" ng-bind="tag" ng-repeat="tag in dashboard.tags"></span></td>
          <td data-title="'Created At'">{{ dashboard.created_at | dateTime }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>