<page-header title="Admin">
</page-header>

<div class="container">
  <div class="container bg-white p-5">
    <ul class="tab-nav">
      <li><a href="admin/status">System Status</a></li>
      <li><a href="admin/queries/tasks">Queries Queue</a></li>
      <li class="active"><a href="admin/queries/outdated">Outdated Queries</a></li>
    </ul>

    <smart-table rows="queries" columns="gridColumns"
                 config="gridConfig"
                 class="table table-condensed table-hover"></smart-table>
    <div class="badge">
      Last update: <span am-time-ago="updatedAt"></span>
    </div>
    (<label><input type="checkbox" ng-model="autoUpdate"> Auto Update</label>)
  </div>
</div>
