<page-header title="Admin">
</page-header>

<div class="container">
  <div class="container bg-white p-5">
    <ul class="tab-nav">
      <li><a href="admin/status">System Status</a></li>
      <li class="active"><a href="admin/queries/tasks">Queries Queue</a></li>
      <li><a href="admin/queries/outdated">Outdated Queries</a></li>
    </ul>

    <ul class="tab-nav">
      <rd-tab tab-id="in_progress" name="In Progress ({{tasks.in_progress.length}})" ng-click="setTab('in_progress')"></rd-tab>
      <rd-tab tab-id="waiting" name="Waiting ({{tasks.waiting.length}})" ng-click="setTab('waiting')"></rd-tab>
      <rd-tab tab-id="done" name="Done" ng-click="setTab('done')"></rd-tab>
    </ul>

    <smart-table rows="showingTasks" columns="gridColumns"
                 config="gridConfig"
                 class="table table-condensed table-hover"></smart-table>

    <label><input type="checkbox" ng-model="autoUpdate"> Auto Update</label>
  </div>
</div>

