<div class="schema-container">
  <div class="schema-control">
    <input type="text" placeholder="Search schema..." class="form-control" ng-model="$ctrl.schemaFilter" ng-model-options="{ debounce: 500 }">
    <button class="btn btn-default"
            title="Refresh Schema"
            ng-click="$ctrl.onRefresh()">
      <span class="zmdi zmdi-refresh"></span>
    </button>

    <button class="btn btn-default"
          title="Toggle Versioned Tables"
          ng-click="$ctrl.flipToggleVersionedTables($ctrl.versionToggle)"
          ng-if="dataSource.options.toggle_table_string != ''">
    <span class="fa " ng-class="{'fa-toggle-on': $ctrl.versionToggle == true, 'fa-toggle-off': !$ctrl.versionToggle}">
      <input type="checkbox" id="versioned-tables-toggle" ng-model="$ctrl.versionToggle" hidden/>
    </span>
    </button>
  </div>

  <div class="schema-browser" vs-repeat vs-size="$ctrl.getSize(table)">
    <div ng-repeat="table in $ctrl.schema | filter:$ctrl.schemaFilter | filter:'!'+$ctrl.versionFilter">
      <div class="table-name" ng-click="$ctrl.showTable(table)">
        <i class="fa fa-table"></i>
        <strong>
          <span title="{{table.name}}">{{table.name}}</span>
          <span ng-if="table.size !== undefined"> ({{table.size}})</span>
        </strong>
      </div>
      <div uib-collapse="table.collapsed">
        <div ng-repeat="column in table.columns track by column" style="padding-left:16px;">{{column}}</div>
      </div>
    </div>
  </div>
</div>
