<div class="container bg-white p-5" ng-show="$ctrl.filters | notEmpty">
  <div class="row">
    <div class="col-sm-6 m-t-5" ng-repeat="filter in $ctrl.filters">
      <ui-select ng-model="filter.current" ng-if="!filter.multiple" on-select="$ctrl.filterChangeListener(filter, $model)" on-remove="$ctrl.filterChangeListener(filter, $model)">
        <ui-select-match placeholder="Select value for {{filter.friendlyName}}...">{{filter.friendlyName}}: {{$select.selected | filterValue:filter}}</ui-select-match>
        <ui-select-choices repeat="value in filter.values | filter: $select.search">
          {{value | filterValue:filter }}
        </ui-select-choices>
      </ui-select>

      <ui-select ng-model="filter.current" multiple ng-if="filter.multiple" on-select="$ctrl.filterChangeListener(filter, $model)" on-remove="$ctrl.filterChangeListener(filter, $model)">
        <ui-select-match placeholder="Select value for {{filter.friendlyName}}...">{{filter.friendlyName}}: {{$item | filterValue:filter}}</ui-select-match>
        <ui-select-choices repeat="value in filter.values | filter: $select.search">
          {{value | filterValue:filter }}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>

