<div class="parameter-container form-inline bg-white"
  ng-if="parameters | notEmpty"
  ui-sortable="{ 'ui-floating': true, 'disabled': !editable }"
  ng-model="parameters"
>
  <div class="form-group m-r-10" ng-repeat="param in parameters">
    <label class="parameter-label">{{param.title}}</label>
    <button class="btn btn-default btn-xs" ng-if="editable" ng-click="showParameterSettings(param, $index)">
      <i class="zmdi zmdi-settings"></i>
    </button>
    <parameter-value-input param="param"></parameter-value-input>
  </div>
</div>
