<div class="form-horizontal table-editor-container">
  <div class="form-group">
    <div class="col-xs-12">
      <label>Items per page</label>
      <select ng-options="value for value in allowedItemsPerPage"
        ng-model="visualization.options.itemsPerPage" class="form-control">
      </select>
    </div>
  </div>

  <div ui-sortable ng-model="visualization.options.columns">
    <div ng-repeat="column in visualization.options.columns">
      <h5>{{ column.title }}</h5>
      <div class="row">
        <div class="col-xs-12">
          <label><input type="checkbox" ng-model="column.visible"> Show column</label>
        </div>
        <div class="col-xs-12">
          <label><input type="checkbox" ng-model="column.allowHTML"> Allow HTML contents</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="from-group">
            <label>Align contents</label>
            <select class="form-control"
              ng-model="column.alignContent" ng-options="value for value in allowedContentAlignment"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
