<div class="form-horizontal">
  <div style="margin-bottom: 20px;">
    This visualization constructs funnel chart. Please notice that value column only accept number for values.
  </div>
  <div class="form-group">
    <label class="col-lg-6">Step Column Name</label>
    <div class="col-lg-6">
      <select ng-options="col.name as col.name for col in $ctrl.data.columns"
        ng-model="$ctrl.options.stepCol.colName" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Step Column Display Name</label>
    <div class="col-lg-6">
      <input type="text" ng-model="$ctrl.options.stepCol.displayAs" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Funnel Value Column Name</label>
    <div class="col-lg-6">
      <select ng-options="col.name as col.name for col in $ctrl.data.columns"
        ng-model="$ctrl.options.valueCol.colName" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Funnel Value Column Display Name</label>
    <div class="col-lg-6">
      <input type="text" ng-model="$ctrl.options.valueCol.displayAs" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Auto Sort Record By Value</label>
    <div class="col-lg-6">
      <input type="checkbox" ng-model="$ctrl.options.autoSort">
    </div>
  </div>
  <div ng-show="!$ctrl.options.autoSort">
    <div class="form-group">
      <label class="col-lg-6">Funnel Value Columns Name</label>
      <div class="col-lg-6">
        <select ng-options="col.name as col.name for col in $ctrl.data.columns"
          ng-model="$ctrl.options.sortKeyCol.colName" class="form-control"></select>
      </div>
    </div>
  </div>
</div>
