<div class="container-fluid footer hidden-print" >
    <hr/>
    <div class="container">
        <div class="row">
            <a href="http://redash.io">Re:dash</a> <span ng-bind="version"></span>
            <small ng-if="newVersionAvailable" ng-cloak class="ng-cloak"><a href="http://version.redash.io/">(new re:dash version available)</a></small>
            <div class="pull-right">
                <a href="http://docs.redash.io/">Docs</a>
                <a href="http://github.com/getredash/redash">Contribute</a>
            </div>
        </div>
    </div>
</div>
