{% extends "layouts/signed_out.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    {% if submitted %}
      <div>
        If we found an account associated with that email address, you will find an email from us in your inbox shortly.
      </div>
    {% else %}
      <form role="form" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <label for="email">Enter the email address you used for this account:</label>
          <input type="email" class="form-control" name="email" value="{{email}}">
        </div>
        <button type="submit" class="btn btn-primary btn-block m-t-25">Reset my password</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
