{% extends "layouts/signed_out.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
{% if submitted %}
<h2>Password Reset</h2>
<hr>
<p class="lead">
    If we found an account associated with that email address, you will find an email from us in your inbox shortly.
</p>
{% else %}
<h2>Password Reset</h2>
<hr>
<form role="form" method="post">
    <div class="form-group ">
        <label for="email">Enter the email address you used for this account:</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <button type="submit" class="btn btn-primary">Reset my password</button>
</form>
{% endif %}
{% endblock %}
