{% extends "layouts/signed_out.html" %}

{% block title %}Welcome to Redash!{% endblock %}

{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    <div class="m-b-default">
      {% if google_auth_url %}
        To create your account, please choose a password or login with your Google account ({{ user.email }}).
      {% else %}
        To create your account, please choose a password.
      {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if google_auth_url %}
      <a href="{{ google_auth_url }}" class="login-button btn btn-default btn-block">
        <img src="/static/images/google_logo.svg">
        Login with Google
      </a>
      <hr>
    {% endif %}
    <form role="form" method="post" name="invite">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block m-t-default">Set Password</button>
    </form>
  </div>
</div>
{% endblock %}
