{% extends "layouts/signed_out.html" %}
{% block title %}Login | Redash{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form role="form" method="post" name="login">
    <div class="form-group">
      <label for="inputEmail">{{ username_prompt }}</label>
      <input type="text" class="form-control" id="inputEmail" name="email" value="{{email}}">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>

    <button type="submit" class="btn btn btn-primary">
      Log In
    </button>
  </form>
  <hr>
{% endblock %}
