.dynamic-value {
  & ::placeholder, & .dynamic-icon {
    color: #1890ff !important
  }

  .ant-calendar-range-picker-input {
    width: 100%;
    text-align: left;
  }

  .ant-calendar-range-picker-separator,
  .ant-calendar-range-picker-input:not(:first-child) {
    display: none;
  }
}

.redash-datepicker {
  width: auto !important;

  .ant-calendar-picker-clear {
    right: 35px;
  }
}
