.query-visualization-tabs {
  .ant-tabs-tab {
    background: #f6f8f9 !important;
    border-color: #d9d9d9 !important;
    border-bottom: 0px !important;
    border-radius: 0 !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-width 0s !important;

    &:first-child {
      border-radius: 2px 0 0 0 !important;
    }

    &:last-child {
      border-radius: 0 2px 0 0 !important;
    }

    &:not(:first-child) {
      margin-left: -1px !important;
    }

    &.ant-tabs-tab-active {
      background: white !important;
      z-index: 1;
      font-weight: normal;
      border-top: 2px solid #2196f3 !important;
    }
  }

  .ant-tabs-content {
    margin-top: -18px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 0px 4px 0px 0px;

    .ant-tabs-tabpane {
      padding: 16px;
      background: white;
    }
  }

  .delete-visualization-button {
    margin-left: 5px;
    cursor: pointer;
    color: #a09797;
    font-size: 11px;
    padding: 0 4px 1px;
    &:hover {
      color: white;
      background-color: #ff8080;
      border-radius: 50%;
    }
  }

  @media (min-width: 768px) {
    // Always show scroll and pagination in tables
    .table-visualization-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      & div {
        height: inherit;
      }

      .ant-spin-container {
        display: flex;
        flex-direction: column;

        .ant-table {
          flex-grow: 1;
        }
      }
    }

    // Make visualizations take 100% of height
    .visualization-renderer {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 15px;

      > .visualization-renderer-wrapper {
        flex-grow: 1;
        position: relative;
      }

      > .filters-wrapper {
        flex-grow: 0;
      }
    }

    .sunburst-visualization-container,
    .sankey-visualization-container,
    .map-visualization-container,
    .word-cloud-visualization-container,
    .box-plot-deprecated-visualization-container,
    .chart-visualization-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      overflow: hidden;
    }

    .counter-visualization-content {
      position: absolute;
      left: 10px;
      top: 15px;
      right: 10px;
      bottom: 15px;
      height: auto;
      overflow: hidden;
      padding: 0;
    }
  }
}
