<div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-6">Counter Value Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.counterColName" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Counter Value Row Number</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.rowNumber" min="1" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Target Value Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.columnNames" ng-model="visualization.options.targetColName" class="form-control">
        <option value="">No target value</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-if="visualization.options.targetColName">
    <label class="col-lg-6">Target Value Row Number</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.targetRowNumber" min="1" class="form-control">
    </div>
  </div>
</div>
