<counter
  ng-class="{'positive': targetValue && trendPositive, 'negative': targetValue && !trendPositive}"
  resize-event="handleResize()"
>
  <div ng-style="{
    '-o-transform': 'scale(' + scale + ')',
    '-ms-transform': 'scale(' + scale + ')',
    '-moz-transform': 'scale(' + scale + ')',
    '-webkit-transform': 'scale(' + scale + ')',
    'transform': 'scale(' + scale + ')'
  }">
    <value ng-if="isNumber">{{stringPrefix}}{{counterValue | number}}{{stringSuffix}}</value>
    <value ng-if="!isNumber">{{stringPrefix}}{{counterValue}}{{stringSuffix}}</value>
    <counter-target ng-if="targetValue" title="({{targetValue | number}})">({{targetValue | number}})</counter-target>
    <counter-name>{{counterLabel}}</counter-name>
  </div>
</counter>
