/* Prevent text selection on shift+click. */
div.tags-list {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* same rule as for sidebar */
@media (max-width: 990px) {
  .page-dashboard-list .page-header-actions {
    width: auto;
  }
}

.provisioning-page {
  margin-bottom: 100px;
}

label {
  font-size: large;
  text-align: left;
  clear: both;
  float:left;
}

.form-group {
  margin-top: 20px;
}

.m-b-0{
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px 0;
}

.selectionitem{
  margin-top: 20px;
  align-items: center;
}

.submitbutton{
  color: #fff;
  margin-bottom: 20px;
  background: #4db5ff;
  border-color: #4db5ff;
}
