<div>
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}"><a ng-click="currentTab='general'">General</a></li>
    <li ng-class="{active: currentTab == 'colors'}"><a ng-click="currentTab='colors'">Colors</a></li>
  </ul>
  <div ng-show="currentTab == 'general'" class="m-t-10 m-b-10">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-6">Parent Column Name</label>
        <div class="col-lg-6">
          <select ng-options="col.name as col.name for col in $ctrl.data.columns" ng-model="$ctrl.options.parentColumn" class="form-control"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-6">Child Column Name</label>
        <div class="col-lg-6">
          <select ng-options="col.name as col.name for col in $ctrl.data.columns" ng-model="$ctrl.options.childColumn" class="form-control"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-6">Size Column Name</label>
        <div class="col-lg-6">
          <select ng-options="col.name as col.name for col in $ctrl.data.columns" ng-model="$ctrl.options.sizeColumn" class="form-control"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-6">Cell Padding</label>
        <div class="col-lg-6">
          <input ng-model="$ctrl.options.cellPadding" type="number" step="any" class="form-control">
        </div>
      </div>
    </div>
    <div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.options.sortReverse">
          <i class="input-helper"></i> Reverse Order
        </label>
      </div>
      <div class="form-group">
        <label><input type="checkbox" ng-model="$ctrl.options.tooltip.enabled"> Show tooltip</label>
        <div>
          <label for="tooltip-template">Tooltip template</label>
          <input class="form-control" id="tooltip-template"
            ng-model="$ctrl.options.tooltip.template" ng-model-options="{ allowInvalid: true, debounce: 200 }"
            ng-disabled="!$ctrl.options.tooltip.enabled">
        </div>
      </div>
      <div class="form-group">
        <label><input type="checkbox" ng-model="$ctrl.options.datalabel.enabled"> Show data label</label>
        <div>
          <label for="datalabel-template">Datalabel template</label>
          <input class="form-control" id="datalabel-template"
            ng-model="$ctrl.options.datalabel.template" ng-model-options="{ allowInvalid: true, debounce: 200 }"
            ng-disabled="!$ctrl.options.datalabel.enabled">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="ui-sortable-bypass text-muted" style="font-weight: normal; cursor: pointer;"
        uib-popover-html="templateHint"
        popover-trigger="'click outsideClick'" popover-placement="top-left">
        Format specs <i class="fa fa-question-circle m-l-5"></i>
      </label>
    </div>
  </div>
  <div ng-show="currentTab == 'colors'" class="m-t-10 m-b-10">
    <div class="form-group">
      <label><input type="checkbox" ng-model="$ctrl.options.customColor.enabled"> Custom Color</label>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-6">Color Column Name</label>
          <div class="col-lg-6">
            <select ng-options="col.name as col.name for col in $ctrl.data.columns" ng-model="$ctrl.options.colorColumn" class="form-control" ng-disabled="!$ctrl.options.customColor.enabled"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-6">Color encoding</label>
          <div class="col-lg-6">
            <select class="form-control" id="color-encoding"
              ng-options="key as value for (key, value) in colorEncodings"
              ng-model="$ctrl.options.customColor.encoding"
              ng-disabled="!$ctrl.options.customColor.enabled">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>Min color</label>
            <ui-select ng-model="$ctrl.options.customColor.min" ng-disabled="!$ctrl.options.customColor.enabled || $ctrl.options.customColor.encoding != 'value'">
              <ui-select-match>
                <color-box color="$select.selected.value"></color-box>
                <span ng-bind-html="$select.selected.key | capitalize"></span>
              </ui-select-match>
              <ui-select-choices repeat="color.value as (key, color) in colors">
                <color-box color="color.value"></color-box>
                <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>Max color</label>
            <ui-select ng-model="$ctrl.options.customColor.max" ng-disabled="!$ctrl.options.customColor.enabled || $ctrl.options.customColor.encoding != 'value'">
              <ui-select-match>
                <color-box color="$select.selected.value"></color-box>
                <span ng-bind-html="$select.selected.key | capitalize"></span>
              </ui-select-match>
              <ui-select-choices repeat="color.value as (key, color) in colors">
                <color-box color="color.value"></color-box>
                <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
