<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Embed Code</h4>
</div>
<div class="modal-body">
  <h5>IFrame Embed</h5>
  <div>
    <code data-test="EmbedIframe">&lt;iframe src="{{ $ctrl.embedUrl }}" width="720" height="391"&gt;&lt;/iframe&gt;</code>
  </div>
  <span class="text-muted">(height should be adjusted)</span>
  <div ng-if="$ctrl.snapshotUrl">
    <h5>Image Embed</h5>
    <div>
      <code style="overflow-wrap:break-word;">{{$ctrl.snapshotUrl}}</code>
    </div>
  </div>
</div>