<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Refresh Schedule</h4>
</div>
<div class="modal-body">
    <div class="radio">
        <label>
            <input type="radio" value="periodic" ng-model="$ctrl.refreshType">
            <query-refresh-select refresh-type="$ctrl.refreshType" query="$ctrl.query" save-query="$ctrl.saveQuery"></query-refresh-select>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="daily" ng-model="$ctrl.refreshType">
            <query-time-picker refresh-type="$ctrl.refreshType" query="$ctrl.query" save-query="$ctrl.saveQuery"></query-time-picker>
        </label>
    </div>
</div>
