<div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th ng-repeat="column in $ctrl.columns" ng-click="$ctrl.orderBy(column)" class="sortable-column">
        {{column.title}} <span ng-if="$ctrl.sortIcon(column)"><i class="fa fa-sort-{{$ctrl.sortIcon(column)}}"></i></span>
      </th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.rowsToDisplay">
      <td ng-repeat="column in $ctrl.columns" ng-bind-html="$ctrl.sanitize(column.formatFunction(row[column.name]))">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-center" ng-if="$ctrl.rowsCount > $ctrl.itemsPerPage">
  <ul uib-pagination total-items="$ctrl.rowsCount"
      items-per-page="$ctrl.itemsPerPage"
      ng-model="$ctrl.page"
      max-size="6"
      class="pagination"
      boundary-link-numbers="true"
      rotate="false"
      next-text='&#8594;'
      previous-text='&#8592;'
      ng-change="$ctrl.pageChanged()"></ul>
</div>
