<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th ng-repeat="column in $ctrl.columns" ng-click="$ctrl.orderBy(column)" class="sortable-column">
        {{column}} <span ng-if="$ctrl.sortIcon(column)"><i class="fa fa-sort-{{$ctrl.sortIcon(column)}}"></i></span>
      </th>
    </tr>

  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.rows">
      <td ng-repeat="column in $ctrl.columns">
        {{row[column]}}
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <ul uib-pagination total-items="$ctrl.rowsCount"
                     items-per-page="$ctrl.itemsPerPage"
                     ng-model="$ctrl.page"
                     max-size="6"
                     class="pagination"
                     boundary-link-numbers="true"
                     rotate="false"
                     next-text='>'
                     previous-text='<'
                     ng-change="$ctrl.pageChanged()"></ul>
</div>
