<div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th ng-repeat="column in $ctrl.columns" ng-click="$ctrl.onColumnHeaderClick(column)"
          class="sortable-column" ng-class="'content-align-' + column.alignContent">
          <span>{{column.title}}</span>
          <i ng-if="$ctrl.sortIcon(column)" class="fa fa-caret-{{$ctrl.sortIcon(column)}}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.rowsToDisplay"
        dynamic-table-row columns="$ctrl.columns" row="row"
        render="$ctrl.renderSingleRow"
      ></tr>
    </tbody>
  </table>
</div>
<div class="text-center" ng-if="$ctrl.rows.length > $ctrl.itemsPerPage">
  <ul uib-pagination total-items="$ctrl.rows.length"
      items-per-page="$ctrl.itemsPerPage"
      ng-model="$ctrl.currentPage"
      max-size="6"
      class="pagination"
      boundary-link-numbers="true"
      rotate="false"
      next-text='&#8594;'
      previous-text='&#8592;'
      ng-change="$ctrl.onPageChanged()"></ul>
</div>
